/***

BOILERPLATE

***/


html body .fmn-root * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


html body .fmn-root {
	p {
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.c-inline { 
	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	vertical-align: top; 
}

.c-nobr {
	white-space: nowrap;
}

.translate (@x, @y:0) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}

.scale (@x, @y) {
	-webkit-transform: scale(@x, @y);
	-moz-transform: scale(@x, @y);
	-ms-transform: scale(@x, @y);
	-o-transform: scale(@x, @y);
	transform: scale(@x, @y);
}

.transition ( @property, @duration, @style: ease-in-out, @delay ) {
	-webkit-transition-property: @property;  
	-webkit-transition-duration: @duration;
	-webkit-transition-timing-function: @style;
	-webkit-transition-delay: @delay;
	
	-moz-transition-property: @property;  
	-moz-transition-duration: @duration;
	-moz-transition-timing-function: @style;
	-moz-transition-delay: @delay;
	
	-ms-transition-property: @property;  
	-ms-transition-duration: @duration;
	-ms-transition-timing-function: @style;
	-ms-transition-delay: @delay;
	
	-o-transition-property: @property;  
	-o-transition-duration: @duration;
	-o-transition-timing-function: @style;
	-o-transition-delay: @delay;
	
	transition-property: @property;  
	transition-duration: @duration;
	transition-timing-function: @style;
	transition-delay: @delay; 
}









/***

FASTMENU

***/


@color-new-basic: #aaa;
@color-new-faded: #aaa;
@color-new-title: #aaa;
@color-new-action: #aaa;
@color-new-special: #aaa;
@color-new-alert: #aaa;



@color-basic: #555;
@color-titles: #000;
@color-action: rgb(144,26,7);
@color-special: #ff0000;
@color-replaced: #878787;
@color-hover: #000;
@color-faded: rgba(0,0,0,0.47);
@color-alert: #dd0000;
@color-blockHover: #fafafa;
@color-invertForeground: #ffffff;
@color-background-thickSelected: #dbb14f;
@color-border: rgba(0,0,0,0.13);

@color-background-basic: #ffffff;
@color-background-alert: #fbf9cd;

@color-timer: #f9b233;
@color-in-basket: #00c91d;





@color-justAdded-block: #18a40a;
@color-justAdded-shading: fade(#18a40a, 5%);

@cc-action: #00b279;

@color-hover-background: fade(black, 3%);
@color-active-background: fade(black, 5%);

@cc-selected: #dbb14f;

@color-selected-block: @cc-selected;
@color-selected-shading: fade(@cc-selected, 11%);

@cc-disabled: #bbb;

@color-disabled-shading: fade(@cc-disabled, 11%);
@color-disabled-text: @cc-disabled;

@color-outOfStock-block: @cc-disabled;
@color-outOfStock-shading: fade(@cc-disabled, 11%);

@color-noLongerAvailable-block:  @cc-disabled;
@color-noLongerAvailable-shading: fade(@cc-disabled, 11%);

@color-payOnline-block: #008039;

@cc-highlight: #de001b;

@color-highlight-text: @cc-highlight;
@color-highlight-block: @cc-highlight;
@color-highlight-shading: #fbf7d7;

@cc-info: #ebdd93;

@color-info-shading: @cc-info;





a.c-color-facebook:link,
a.c-color-facebook:visited,
.c-color-facebook {
	color: @color-facebook;
}


@color-facebook: #3c5b9b;
@color-twitter: #2daae1;
@color-instagram: #517fa4;
@color-pinterest: #cb2027;


/*
@f-size-tiny: 0.8rem;
@f-size-smallest: 1.0rem;
@f-size-smaller: 1.2rem;
@f-size-small: 1.3rem;
@f-size-normal: 1.4rem;
@f-size-large: 1.6rem;
@f-size-larger: 1.8rem;
@f-size-largest: 2.2rem;
@f-size-huge: 2.4rem;
@f-size-giant: 2.8rem;
*/


@f-size-tiny: 8px;
@f-size-smallest: 10px;
@f-size-smaller: 12px;
@f-size-small: 13px;
@f-size-normal: 14px;
@f-size-large: 16px;
@f-size-larger: 18px;
@f-size-largest: 22px;
@f-size-huge: 24px;
@f-size-giant: 28px;








/* ROBOTO */

@f-family-main: 'Roboto Condensed', sans-serif;
@f-weight-light: 100;
@f-weight-normal: 400;
@f-weight-bold: 900;


.fmn-body {
	margin: 0;
	padding: 0;
}

html body .fmn-root {
// 	background-color: #fff;
	font-weight: @f-weight-normal;
	color: @color-basic;
	font-family: @f-family-main;
// 	font-size: 1.6rem;
	font-size: 16px;
}




.m-smart-scroll {
	top: 0;
}

html body .fmn-root {
	.t-large {
		font-size: @f-size-large !important;
	}
	
	.t-alert {
		color: @color-alert;
	}
}











/***
	
PADDINGS

***/

@padding-unit: 10px;
@padding-unit-small: 5px;




.c-padding-model-label {
	@media screen {
		@media (min-width: 768px) { 
			padding-left: @padding-unit;
			padding-right: @padding-unit;
			padding-top: @padding-unit/1.5;
			padding-bottom: @padding-unit/1.5;
		}
		@media (max-width: 767px) { 
			padding-left: @padding-unit/1.5;
			padding-right: @padding-unit/1.5;
			padding-top: @padding-unit/2.25;
			padding-bottom: @padding-unit/2.25;
		}
		@media (max-width: 359px) { 
			padding-left: @padding-unit/2;
			padding-right: @padding-unit/2;
			padding-top: @padding-unit/3;
			padding-bottom: @padding-unit/3;

		}
	}
}

.c-padding-model-block {
	@media screen {
		@media (min-width: 768px) { 
			padding: @padding-unit;
		}
		@media (max-width: 767px) { 
			padding: @padding-unit/1.5;
		}
		@media (max-width: 359px) { 
			padding: @padding-unit/2;

		}
	}
}

.c-padding-model-label-small {
	@media screen {
		@media (min-width: 768px) { 
			padding: @padding-unit-small;
		}
		@media (max-width: 767px) { 
			padding: @padding-unit-small/1.5;
		}
		@media (max-width: 359px) { 
			padding: @padding-unit-small/2;
		}
	}
}

.c-padding-model-label-small-sides-only {
	@media screen {
		@media (min-width: 768px) { 
			padding-left: @padding-unit-small;
			padding-right: @padding-unit-small;
		}
		@media (max-width: 767px) { 
			padding-left: @padding-unit-small/1.5;
			padding-right: @padding-unit-small/1.5;
		}
		@media (max-width: 359px) { 
			padding-left: @padding-unit-small/2;
			padding-right: @padding-unit-small/2;
		}
	}
}

.c-padding-model-button {
	@media screen {
		@media (min-width: 768px) { 
			padding-left: @padding-unit;
			padding-right: @padding-unit;
			padding-top: @padding-unit/4;
			padding-bottom: @padding-unit/4;
		}
		@media (max-width: 767px) { 
			padding-left: @padding-unit/1.5;
			padding-right: @padding-unit/1.5;
			padding-top: @padding-unit/6;
			padding-bottom: @padding-unit/6;

		}
		@media (max-width: 359px) { 
			padding-left: @padding-unit/2;
			padding-right: @padding-unit/2;
			padding-top: @padding-unit/8;
			padding-bottom: @padding-unit/8;

		}
	}
}

.c-padding-model-side {
	@media screen {
		@media (min-width: 1280px) { 
			padding-left: @padding-unit*2;
			padding-right: @padding-unit*2;
		}
		@media (max-width: 1279px) { 
			padding-left: @padding-unit;
			padding-right: @padding-unit;
		}
	}
}

.c-padding-model-side-double {
	@media screen {
		@media (min-width: 1280px) { 
			padding-left: @padding-unit*4;
			padding-right: @padding-unit*4;
		}
		@media (max-width: 1279px) { 
			padding-left: @padding-unit*2;
			padding-right: @padding-unit*2;
		}
	}
}




.c-qty-box {
	text-align: center;
// 					position: relative;
	a,
	input {
		.c-inline;
		vertical-align: middle;
	}
	input {
		text-align: center;
		width: 40px;
	}
	a {
		opacity: 0.75;
		&:hover {
			opacity: 0.85 !important;
		}
		&:active {
			opacity: 1.00 !important;
		}
	}
	.e-max {
		font-size: @f-size-smaller;
		margin-top: 3px;
		color: @color-faded;
		text-align: center;
		display: block;
	}

}



















.c-link {
	color: @color-action;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: @color-hover;
		text-decoration: none;		
	}
}

html body .fmn-root {
		
	a:link,
	a:visited {
		color: @color-action;
		text-decoration: none;
	}
	
	a:hover {
		color: @color-hover;
		text-decoration: none;
	}
	
	a:active {
		color: @color-hover;
		text-decoration: none;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: @f-weight-normal;
		color: @color-titles;
	}
	
	a:link.m-destructive,
	a:visited.m-destructive {
		color: @color-alert;
	}
	
}



/*
html {
	@media screen {
		@media (min-width: 1280px) { font-size: 11px; }
		@media (max-width: 1279px) { font-size: 11px; }
		@media (max-width: 1023px) { font-size: 10px; }
		@media (max-width: 567px) { font-size: 10px; }
		@media (max-width: 359px) { font-size: 10px; }
	}
}
*/







html body .fmn-root {
	
	div,
	p,
	ul,
	ol,
	li {
		display: block;
		margin: 0;
		padding: 0;
		letter-spacing: 0;
		line-height: 1.4;
		font-family: @f-family-main;
// 		font-size: @f-size-normal;
	}
	
	a,
	span,
	label,
	img {
		display: inline;
		margin: 0;
		padding: 0;
		letter-spacing: 0;
		line-height: 1.4;
		font-family: @f-family-main;
// 		font-size: @f-size-normal;
		font-weight: normal;
	}

	input,
	button,
	select,
	textarea {
		display: inline;
		margin: 0;
		padding: 0;
		letter-spacing: 0;
		line-height: 1.4;		
		font-family: @f-family-main;
// 		font-size: @f-size-normal;
		font-weight: normal;
		box-shadow: none;
	}

	h1, h2, h3, h4, h5, h6 {
		letter-spacing: 0;
		margin: 0;
		padding: 0;
		font-family: @f-family-main;
// 		font-weight: @f-weight-normal;
	}

	h1 { font-size: @f-size-huge; font-family: @f-family-main; }
	h2 { font-size: @f-size-largest; font-family: @f-family-main; }
	h3 { font-size: @f-size-larger; font-family: @f-family-main; }
	h4 { font-size: @f-size-large; font-family: @f-family-main; }
	h5 { font-size: @f-size-normal; font-family: @f-family-main; }
	h6 { font-size: @f-size-small; font-family: @f-family-main; }
	
}





html body .fmn-root {

	input,
	textarea,
	button,
	select,
	label,
	a {
		-webkit-tap-highlight-color: fade(#fff, 33%);
	}

}
















html body .fmn-root {
	
	.fmn-page-body {
		padding-top: 10px;
		clear: both;
	}

}









/***
	
MAIN COLUMNS

***/


html body .fmn-root {

	.fmn-pageColumns {	
		font-size: 0;
		.fmn-pageColumn {
			.c-inline;
			&.m-leftCol {
				@media screen {	
					@media (min-width: 1600px) { width: 20%; }
					@media (max-width: 1599px) { width: 20%; }
					@media (max-width: 1279px) { width: 25%; }
					@media (max-width: 1023px) { width: 100%; }
/*
					@media (max-width: 959px) { width: 100%; }
					@media (max-width: 799px) { width: 100%; }
					@media (max-width: 767px) { width: 100%; }
					@media (max-width: 735px) { width: 100%; }
					@media (max-width: 666px) { width: 100%; }
					@media (max-width: 639px) { width: 100%; }
					@media (max-width: 597px) { width: 100%; }
					@media (max-width: 567px) { width: 100%; }
					@media (max-width: 532px) { width: 100%; }
					@media (max-width: 479px) { width: 100%; }
					@media (max-width: 413px) { width: 100%; }
					@media (max-width: 374px) { width: 100%; }
					@media (max-width: 359px) { width: 100%; }
*/
				}
			}
			&.m-mainCol {
				@media screen {	
					@media (min-width: 1600px) { width: 80%; }
					@media (max-width: 1599px) { width: 80%; }
					@media (max-width: 1279px) { width: 75%; }
					@media (max-width: 1023px) { width: 100%; }
/*
					@media (max-width: 959px) { width: 100%; }
					@media (max-width: 799px) { width: 100%; }
					@media (max-width: 767px) { width: 100%; }
					@media (max-width: 735px) { width: 100%; }
					@media (max-width: 666px) { width: 100%; }
					@media (max-width: 639px) { width: 100%; }
					@media (max-width: 597px) { width: 100%; }
					@media (max-width: 567px) { width: 100%; }
					@media (max-width: 532px) { width: 100%; }
					@media (max-width: 479px) { width: 100%; }
					@media (max-width: 413px) { width: 100%; }
					@media (max-width: 374px) { width: 100%; }
					@media (max-width: 359px) { width: 100%; }
*/
				}
			}
		}
		&.m-singleCol {
			.m-mainCol {
				width: 100%;
			}
		}
	}

}











/***
	
FIX WIDTH

***/


html body .fmn-root {

	.fmn-fixWidth {
		margin: 0 auto;
		@media screen {	
			@media (min-width: 1600px) { width: 1200px; }
			@media (max-width: 1599px) { width: 1200px; }
			@media (max-width: 1279px) { width: 960px; width: 100%; }
/*
			@media (max-width: 1023px) { width: 920px; width: 100%; }
			@media (max-width: 959px) { width: 800px; width: 100%; }
			@media (max-width: 799px) { width: 768px; width: 100%; }
			@media (max-width: 767px) { width: 736px; width: 100%; }
			@media (max-width: 735px) { width: 667px; width: 100%; }
			@media (max-width: 666px) { width: 640px; width: 100%; }
			@media (max-width: 639px) { width: 598px; width: 100%; }
			@media (max-width: 597px) { width: 568px; width: 100%; }
			@media (max-width: 567px) { width: 533px; width: 100%; }
			@media (max-width: 532px) { width: 480px; width: 100%; }
			@media (max-width: 479px) { width: 414px; width: 100%; }
			@media (max-width: 413px) { width: 375px; width: 100%; }
			@media (max-width: 374px) { width: 360px; width: 100%; }
			@media (max-width: 359px) { width: 320px; width: 100%; }
*/
		}
	}

}











#fmnid-app-location-not-scrolled {
	height: 60px;
}




html body .fmn-root {

	.fmn-resultsFor {
		font-size: @f-size-normal;
	}
	
	.fmn-page {
		background-color: @color-background-basic;
		padding-top: 20px;
		padding-bottom: 50px;	
	}
	
	.fmn-app-location {
		padding-left: 10px;
		padding-right: 10px;
		.fmn-back {
			.c-inline;
			vertical-align: middle;
			margin-right: 10px;
		}
		.fmn-title {
			font-size: @f-size-huge;
			.c-inline;
			vertical-align: middle;
			width: ~"calc(100% - 84px)";
			width: ~"-webkit-calc(100% - 84px)";
			width: ~"-moz-calc(100% - 84px)";
			width: ~"-ms-calc(100% - 84px)";
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 40px;
			padding: 10px 0;
			text-align: center;
		}
		&.m-no-back {
			.fmn-title {
				width: 100%;
			}
		}
		&.m-scrolled {
	
			.fmn-title {
				line-height: 32px;
				text-align: left;
				padding: 0;
				padding-top: 8px;
				padding-bottom: 8px;
			}
			
		}
	}
	
	
	
	
	.fmn-screen-header {
		border-bottom: 1px solid @color-border;
		margin-bottom: 20px;
	}
	
	
	.fmn-sidebar-header {
		border-bottom: 1px solid @color-border;
		margin-bottom: 10px;
	}
	


}



















html body .fmn-root {
	
	.fmn-brands {
		
		font-size: 0;
		margin: 0 auto;
		
		.i-brand-wrap {
			.c-inline;
			padding: 0 1px 1px 0;
			
			@media screen {	
				
				@media (min-width: 1600px) { width: 20%; }
				@media (max-width: 1599px) { width: 20%; }
				@media (max-width: 1279px) { width: 25%; }
	
				@media (max-width: 1023px) { width: 33.333%; }
/*
				@media (max-width: 959px) { width: 33.333%; }
				@media (max-width: 799px) { width: 33.333%; }
				@media (max-width: 767px) { width: 33.333%; }
				@media (max-width: 735px) { width: 33.333%; }
				@media (max-width: 666px) { width: 33.333%; }
				@media (max-width: 639px) { width: 33.333%; }
				@media (max-width: 597px) { width: 33.333%; }
				@media (max-width: 567px) { width: 33.333%; }
*/
	
				@media (max-width: 532px) { width: 50%; }
/*
				@media (max-width: 479px) { width: 50%; }
				@media (max-width: 413px) { width: 50%; }
				@media (max-width: 374px) { width: 50%; }
				@media (max-width: 359px) { width: 50%; }
*/
	
			}
			
		}
		
		.i-brand {
			text-align: center;
			display: block;
			margin-bottom: 20px;
			.e-brand-logo {
				display: block;
				background-position: center center;
				background-repeat: no-repeat;
				margin: 0 auto;
	
			}
			.e-brand-label {
				display: block;
				font-size: @f-size-normal;
				padding: 10px 0 20px;
			}
		}
		
		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.fmn-portal-brands {
		border-top: 1px solid @color-border;
		padding-top: 20px;
	}
	
	.fmn-portal-workTimes {
		margin-bottom: 20px;
		font-size: 0;
		.i-workTimeDay {
			.c-padding-model-side;
			.e-day {
				.c-inline;
				width: 33.333%;
				font-size: @f-size-normal;
			}
			.e-time {
				.c-inline;
				width: 66.667%;
				text-align: right;
				.i-range {
					.c-inline;
					font-size: @f-size-normal;
					margin-left: 20px;
				}
			}
			margin-bottom: 5px;
		}
	}
	
	.fmn-portal-contact {
		margin-bottom: 20px;
		text-align: center;
		font-size: @f-size-large;
		.c-padding-model-side;
		.e-label,
		.e-icon {
			.c-inline;
			vertical-align: middle;
		}
		.e-icon {
			margin-right: 5px;
			font-size: 32px;
		}
	}
	
	
	
	
	.fmn-fixed-header {
		position: fixed;
		left: 0;
		width: 100%;
		height: 42px;
		z-index: 3000;
		font-size: 0;
		.fmn-fixWidth {
			background-color: @color-background-basic;
			height: 48px;
			border-bottom: 1px solid @color-border;
			.fmn-fixed-header-left,
			.fmn-fixed-header-right {
				.c-inline;
			}
			.fmn-fixed-header-left {
				width: ~"calc(100% - 350px)";
				width: ~"-webkit-calc(100% - 350px)";
				width: ~"-moz-calc(100% - 350px)";
				width: ~"-ms-calc(100% - 350px)";
				@media (max-width: 767px) {
					width: ~"calc(100% - 130px)";
					width: ~"-webkit-calc(100% - 130px)";
					width: ~"-moz-calc(100% - 130px)";
					width: ~"-ms-calc(100% - 130px)";
				}
			}
			.fmn-fixed-header-right {
				width: 350px;
				@media (max-width: 767px) {
					width: 130px;
				}
			}
		}
		.fmn-app-location {
			padding-right: 0;
		}
		.fmn-title {
			width: ~"calc(100% - 42px)";
			width: ~"-webkit-calc(100% - 42px)";
			width: ~"-moz-calc(100% - 42px)";
			width: ~"-ms-calc(100% - 42px)";
		}
		.fmn-toolbar {
			padding-left: 0 !important;
		}
	}
	
	
	
	
	.fmn-orderTypeLocation {
		font-size: @f-size-normal;
		.n-location,
		.n-date,
		.n-time {	
			.c-inline;
			vertical-align: middle;
			&.m-highlight {
				background-color: @color-background-alert;
				color: @color-alert;
				padding-top: 3px;
				padding-bottom: 3px;
				a:link,
				a:visited {
					color: @color-alert;
					text-decoration: underline;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
		.n-message {
			display: block;
			font-size: @f-size-normal;
		}
		.n-location {
			margin-right: 15px;
		}
		.n-icon {
			.c-inline;
			vertical-align: middle;
		}
		.n-caption {
			.c-inline;
			vertical-align: middle;
			margin-right: 7px;
			.n-value {
				font-weight: @f-weight-bold;
			}
		}
		.n-link {
			.c-inline;
			vertical-align: middle;
			font-size: 0.9em;
		}
		@media screen and (max-width: 567px) {
			text-align: center;
			.n-location,
			.n-date {
				display: block;
				line-height: 1.2;
			}
			.n-location {
				margin-right: 0;
				margin-bottom: 3px;
			}
		}
	}
	
	
	.m-orderDetails {
		.fmn-orderTypeLocation {
			
			.n-location,
			.n-date,
			.n-time {
				.c-padding-model-side;
				margin-bottom: 10px;
				.n-message {
					margin-bottom: 5px;
				}
				&.m-highlight {
					padding-top: 10px;
					padding-bottom: 10px;
				}
	
			}
		}
	}
	
	
	.fmn-header {
		font-size: 0;
	// 	padding-top: 10px;
		.c-padding-model-side;
	
		.fmn-toolbar-wrap {
			float: right;
			@media (max-width: 567px) { 
				margin-bottom: 10px;
			}
	
		}
				
		.fmn-merchant {
			font-size: @f-size-normal;
			margin-bottom: 5px;
			line-height: 32px;
			@media (max-width: 567px) { 
				margin-bottom: 10px;
			}
	
		}
			
		.fmn-orderTypeLocation {
			@media (max-width: 567px) { 
				clear: left;
				clear: right;
			}
			font-size: @f-size-small;
			margin-bottom: 5px;
		}
		
		.fmn-breadcrumbs {
			@media (max-width: 567px) { 
				clear: left;
				clear: right;
			}
	
			.i-breadcrumb {
				.c-inline;
				margin-right: 10px;
				font-size: @f-size-small;
			}
		}
	}
	
	
	#fmnid-toolbar-not-scrolled {
		height: 32px;
	}
	
	.fmn-toolbar {
		text-align: right;
		font-size: 0;
		.i-toolbarItem {
			margin-left: 20px;
			@media (max-width: 767px) { 
				margin-left: 5px;
			}
			.c-inline;
			.e-label,
			.e-icon {
				font-size: 32px;
				.c-inline;
				vertical-align: middle;
			}
			.e-label {
				font-size: @f-size-small;
				@media (max-width: 767px) { 
					display: none;
				}
			}
			.e-icon {
				margin-right: 2px;
			}
			&.m-basket {
				position: relative;
				overflow: visible;
				.e-count {
					display: block;
					position: absolute;
	// 				top: -2px;
					top: 0;
					left: 17px;
					width: 20px;
					height: 20px;
					line-height: 20px;
					text-align: center;
					border-radius: 50%;
					background-color: @color-background-thickSelected;
					color: @color-invertForeground;
					font-size: @f-size-smaller;
				}
				.e-callout {
					position: absolute;
					top: 40px;
					right: 0;
					width: 100vh;
					max-width: 300px;
					text-align: right;
					
					animation-duration: 1s;
					animation-delay: 0s;
					animation-timing-function: cubic-bezier(0.255, 1.000, 0.660, 1);
					animation-name: callout-slide-up;

					@keyframes callout-slide-up {
						from {
							top: 70px;
							opacity: 0;
					    }
					    to {
							top: 40px;
							opacity: 1.0;
					    }
					}
					
					.e-text {
						padding: 10px;
						background-color: @color-justAdded-block;
						font-size: @f-size-normal;
						color: @color-invertForeground;
						.c-inline;
					}
					&::before {
						content: "";
						position: absolute;
						top: -10px;
						right: 5px;
	
						border-bottom: 10px solid @color-justAdded-block;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
					}
				}
			}
		}
		.i-toolbarItem.m-account {
			.c-link;
			position: relative;
		}
		
		&.m-scrolled {
			.c-padding-model-side;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	
	}
	
	
	
	
	// used in payment details summary boxes, used inside Block
	
	.e-data-lines {
		margin-bottom: 10px;
		.i-data-line {
			display: block;
			.e-label {
				font-size: @f-size-small;
				color: @color-faded;
				margin-right: 10px;
			}
			.e-value {
				font-size: @f-size-normal;
				color: @color-basic;
			}
		}
	
	}
	
	
	
	
	
	
	
	
	
	//
	//
	// TILES
	//
	//
	
	
	.fmn-tiles {
		
		font-size: 0;	
		margin: 0 auto;
		
		.i-tile-wrap {
			.c-inline;
			padding: 0 1px 1px 0;
			&:hover {
				.i-tile-under {
					background-color: @color-hover-background;				
				}
	
			}
		}
		
		.i-tile {
			
			.c-inline;
			vertical-align: top;
			width: 100%;
			position: relative;
			overflow: hidden;
			
			&::before {
				content: "";
				display: block;
				padding-top: 100%;
			}
			
			.e-photo {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				background-position: center center;
				background-size: cover;
				.transition( ~"transform", 0.1s, linear, 0s );
	
			}
			
			.e-toucher {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0.0;
				background-color: #fff;
				z-index: 300;
			}
			
			.e-info-topLeft {
				position: absolute;
				top: 10px;
				left: 0;
				.e-title {
					.c-inline;
					background-color: @color-background-basic;
					font-size: @f-size-largest;
					line-height: 1.0;
	/* 				padding: 7px 20px 7px 10px; */
					.c-padding-model-label;
					max-width: 200px;
					color: @color-basic;
					margin-bottom: 1px;
					text-align: left;
					border-bottom: 0;
					&.m-specials {
						background-color: #f00;
						color: #fff;
						font-weight: 700;
					}
				}
				.e-subtitle {
					.c-inline;
					background-color: @color-background-basic;
	/* 				padding: 5px 10px; */
					.c-padding-model-label;
					line-height: 15px;
					max-width: 200px;
					color: @color-basic;
					font-size: @f-size-normal;
					
				}
			}
	
			.e-info-bottomLeft {
				position: absolute;
				bottom: 10px; 
				left: 0;
	
				.i-label {
					display: block;
					margin-top: 1px;
					margin-bottom: 0;
				}
				
			}
			
			
			
			.e-options {
				position: absolute;
				right: 3px;
				bottom: -100px;
				.transition( ~"bottom", 0s, linear, 0.5s );
				text-align: right;
				padding: 0;
				z-index: 301;
				.fmn-button {
					margin-top: 3px;
				}
				a {
					.c-inline;
					padding: 5px;
					background-color: @color-background-basic;
					margin-left: 3px;
					opacity: 0;
					.transition( ~"opacity", 0.3s, linear, 1s );
					.e-icon,
					.e-caption {
						.c-inline;
						vertical-align: middle;
					}
					.e-caption {
						margin-left: 5px;
						font-size: @f-size-normal;					
					}
	
				}
				display: none;
	
			}
			
			&:hover {
			
				cursor: pointer;
				position: relative;
				z-index: 300;
				.e-photo {
					.scale(1.05, 1.05);				
				}
	
				.e-options {
					display: block;
					visibility: visible;
					width: auto;
					bottom: 10px;
					a {
						opacity: 1.0;
					}
				}
	
			}
			
			
	
		}
		.i-tile-under {
			padding: 10px;
			position: relative;
			border-style: solid;
			border-color: @color-border;
			border-width: 0 0 1px 1px;
					
			.e-location {
				display: block;
				font-size: @f-size-largest;
				line-height: 1.1;
				margin-bottom: 5px;
			}
			.e-worktime {
				display: block;
				font-size: @f-size-small;			
			}
			.e-order {
				.e-link {
					.c-inline;
					vertical-align: baseline;
					font-size: @f-size-normal;
					margin-right: 5px;
				}	
				.e-until {
					.c-inline;
					vertical-align: baseline;
					font-size: @f-size-small;
				}	
	
			}
			padding-top: 10px;
			padding-bottom: 20px;
			margin-bottom: 10px;
			
			 
			.e-title {
				display: block;
				font-size: @f-size-largest;
				line-height: 1.0;
				color: @color-basic;
				margin-bottom: 0;
				text-align: left;
				border-bottom: 0;
	// 			padding-right: 40px;
				&.m-specials {
					background-color: #f00;
					color: #fff;
					font-weight: 700;
				}
			}
			.e-subtitle {
				display: block;
	// 			padding-right: 40px;
				line-height: 15px;
				color: @color-basic;
				font-size: @f-size-normal;
				
			}
			
			.e-toucher {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0.0;
				background-color: #fff;
				z-index: 300;
			}
			
			.e-priceAndOptions {
				display: block;
				.e-subtitle,
				.e-options {
					.c-inline;
					vertical-align: middle;
					min-width: 50%;
					margin-top: 5px;
				}
				.e-subtitle {
					width: 50%;
				}
				.e-options {
					text-align: right;
				}
			}
			
			.e-options {

				.fmn-button {
					margin-top: 3px;
				}
				a {
					.c-inline;
					.transition( ~"opacity", 0.3s, linear, 1s );
					white-space: nowrap;
					position: relative;
					z-index: 301;
					.e-icon,
					.e-caption {
						.c-inline;
						vertical-align: middle;
					}
					.e-caption {
						margin-left: 5px;
						font-size: @f-size-normal;					
					}
				}
			}
			
			
			
			
		}
		
		&.m-wfilters {
			@media (min-width: 1600px) { width: 80%; }
			@media (max-width: 1599px) { width: 80%; }
			@media (max-width: 1279px) { width: 75%; }
			@media (max-width: 1023px) { width: 100%; }
			.c-inline;
			vertical-align: top;
		}
		
	}
	
	
	
	
	.fmn-tiles {
	
		&.m-transparentWhitePhotoLabels {
			.fmn-products-title.m-withPhoto {
				.e-caption {
					background-color: rgba(255,255,255,0.87);
				}
			}
			.i-tile {
				.e-info-topLeft {
					.e-title {
						background-color: rgba(255,255,255,0.87);
					}
					.e-subtitle {
						background-color: rgba(255,255,255,0.87);
					}
				}
				.e-options {
					a {
						background-color: rgba(255,255,255,0.87);
					}
				}
			}
		}		
	
		&.m-transparentBlackPhotoLabels {
			.fmn-products-title.m-withPhoto {
				.e-caption {
					background-color: rgba(0,0,0,0.77);
					color: white;
				}
			}
			.i-tile {
				.e-info-topLeft {
					.e-title {
						background-color: rgba(0,0,0,0.77);
						color: white;
					}
					.e-subtitle {
						background-color: rgba(0,0,0,0.77);
						color: white;
						.fmn-common-price {
							.e-normal,
							.e-original,
							.e-special {
								color: white !important;
							}
						}
					}
				}
				.e-options {
					a {
						background-color: rgba(0,0,0,0.77);
						color: white;
					}
				}
			}
		}
	
	}
	.fmn-list {
	
		&.m-transparentWhitePhotoLabels {
			.fmn-products-title.m-withPhoto {
				.e-caption {
					background-color: rgba(255,255,255,0.87);
				}
			}
		}		
	
		&.m-transparentBlackPhotoLabels {
			.fmn-products-title.m-withPhoto {
				.e-caption {
					background-color: rgba(0,0,0,0.77);
					color: white;
				}
			}
		}
	
	}
	
	
	
	
	.fmn-filters {
		@media (min-width: 1600px) { width: 20%; }
		@media (max-width: 1599px) { width: 20%; }
		@media (max-width: 1279px) { width: 25%; }
		@media (max-width: 1023px) { 
			width: 100%;
			padding-bottom: 5px;
		}
		.e-filtersapplied {
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 10px;
			text-align: center;
			.e-caption,
			.e-link {
				.c-inline;
				margin: 3px 7px;
			}
			.e-links {
				white-space: nowrap;
			}
			font-size: @f-size-normal;
			display: none;
			@media (max-width: 567px) { display: block; }
		}
		
		.c-inline;
		vertical-align: top;
		.fmn-form-checkboxArray {
			@media (max-width: 1023px) { 
				.e-values-wrap {
					.c-inline;
					&:first-child { }
					&:nth-child(2) {
						.e-value {
							.c-inline;
							label .e-text {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
	
				}
				
			}
			@media (max-width: 1023px) { 
				.e-values-wrap {
					&:first-child {	width: 20%; }
					&:nth-child(2) {
						width: 80%;
						.e-value {
							width: 25%;
						}
					}
				}
			}
			@media (max-width: 767px) { 
				.e-values-wrap {
					&:first-child {	width: 25%; }
					&:nth-child(2) {
						width: 75%;
						.e-value {
							width: 33.333%;
						}
					}
				}
			}
			@media (max-width: 567px) { display: none; }
			
	
		}
	}
	
	.fmn-pageColumns {
		.i-tile-wrap {
			@media screen {	
				
				@media (min-width: 1600px) { width: 25%; }
				@media (max-width: 1599px) { width: 25%; }
				@media (max-width: 1279px) { width: 33.333%; }
	
			}
		}
	}
	
	.fmn-pageColumns.singleCol {
		.i-tile-wrap {
			@media screen {	
				
				@media (min-width: 1600px) { width: 20%; }
				@media (max-width: 1599px) { width: 20%; }
				@media (max-width: 1279px) { width: 25%; }
	
			}
		}
	}
	
	.fmn-pageColumns.singleCol .fmn-tiles.m-wfilters {
		.i-tile-wrap {
			@media screen {	
				
				@media (min-width: 1600px) { width: 25%; }
				@media (max-width: 1599px) { width: 25%; }
				@media (max-width: 1279px) { width: 33.333%; }
				
	
			}
		}
	}
	
	
	.fmn-pageColumns,
	.fmn-pageColumns.singleCol,
	.fmn-pageColumns.singleCol .fmn-tiles.m-wfilters {
		.i-tile-wrap {
			@media screen {	
				
				@media (max-width: 1023px) { width: 25%; }
				@media (max-width: 959px) { width: 33.333%; }
/*
				@media (max-width: 799px) { width: 33.333%; }
				@media (max-width: 767px) { width: 33.333%; }
				@media (max-width: 735px) { width: 33.333%; }
				@media (max-width: 666px) { width: 33.333%; }
				@media (max-width: 639px) { width: 33.333%; }
				@media (max-width: 597px) { width: 33.333%; }
				@media (max-width: 567px) { width: 33.333%; }
*/
	
				@media (max-width: 532px) { width: 50%; }
/*
				@media (max-width: 479px) { width: 50%; }
				@media (max-width: 413px) { width: 50%; }
				@media (max-width: 374px) { width: 50%; }
				@media (max-width: 359px) { width: 50%; }
*/
	
			}
		}
	}
	
	
	.fmn-labels {
		font-size: 0;
		.i-label {
			.c-inline;
			margin-bottom: 1px;
		}
	}
	
	.fmn-outofstock,
	.fmn-timer,
	.fmn-private,
	.fmn-count-in-basket,
	.fmn-justAdded,
	.fmn-noLongerAvailable,
	.fmn-adjustedQuantity,
	.fmn-payOnline {
		.c-padding-model-label-small-sides-only;
		.c-inline;
		margin-right: 1px;
		font-size: @f-size-normal;
	/*
		font-weight: @f-weight-bold;
	*/
		.e-icon,
		.e-label {
			.c-inline;
			vertical-align: middle;
			line-height: 28px;
		}
		.e-icon {
			font-size: 28px;
		}
	}
	
	.fmn-outofstock,
	.fmn-private {
		background-color: @color-outOfStock-block;
		color: @color-invertForeground;
	}
	
	.fmn-timer {
		background-color: @color-timer;
		color: @color-invertForeground;
	}
	
	.fmn-count-in-basket {
		background-color: @color-in-basket;
		color: @color-invertForeground;
		&.a-flash {
			animation-duration: 1s;
			animation-delay: 0s;
			animation-timing-function: linear;
			animation-name: flash;
		}
		@keyframes flash {
			from {
				background-color: @color-in-basket;
		    }
		    50% {
				background-color: white;
		    }
		    to {
				background-color: @color-in-basket;
		    }
		}
	}
	
	.fmn-justAdded {
		background-color: @color-justAdded-block;
		color: @color-invertForeground;
		overflow: hidden;
		
		animation-duration: 1s;
		animation-delay: 5s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		animation-name: justaddedlabel2;
		@keyframes justaddedlabel2 {
			from {
	// 			opacity: 1.0;
				width: auto;
		    }
		    to {
				opacity: 0.0;
				width: 0;
				height: 0;
				padding: 0 0;
		    }
		}
	
	}
	.fmn-noLongerAvailable {
		background-color: @color-noLongerAvailable-block;
		color: @color-invertForeground;
	}
	.fmn-adjustedQuantity {
		background-color: @color-highlight-block;
		color: @color-invertForeground;
	}
	.fmn-payOnline {
		background-color: @color-payOnline-block;
		color: @color-invertForeground;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.fmn-details {
		
		.n-details-left {
	
			.c-inline;
			@media (min-width: 568px) { width: 33.333%; }
			@media (max-width: 567px) { width: 50%; }
			
			.fmn-details-photo {
	
				position: relative;
				overflow: hidden;
				&::before {
					content: "";
					display: block;
					padding-top: 100%;
				}
				
				.e-photo {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-position: center center;
					background-size: cover;
					.e-zoom {
						position: absolute;
						bottom: 0;
						right: 0;
						padding: 3px;
						background-color: rgba(255,255,255,0.67);
					}
				}
				
			}
		
			.e-productCode {
				.c-padding-model-side;
				margin-top: 5px;
				margin-bottom: 10px;
				font-size: @f-size-small;
			}
		}
	
	
		
		.n-details-right {
			.c-inline;
			vertical-align: top;
			
			@media (min-width: 568px) { width: 66.667%; }
			@media (max-width: 567px) { width: 100%; }
			
			.fmn-details-options {
	// 			.c-inline;
	// 			vertical-align: top;
	// 			width: 66.667%;
			}
			
			
			
			.fmn-details-infoSection {
				font-size: @f-size-normal;
			}
			
		}
		
		&.noPhoto {
	
			.fmn-details-left {
				display: none;
			}
			
			.fmn-details-right {
				display: block;
				margin: 0 auto;
			}
		}
		
		
	}
	
	
	
	
	.fmn-details-priceAndAddToBasketFixed {
		position: fixed;
			background-color: @color-background-basic;	
			bottom: 0;
			left: 0;
			width: 100%;
			margin-bottom: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid @color-border;
			z-index: 500;
	}
	
	
	
	.fmn-details-overlay {
		.fmn-details-priceAndAddToBasket {
	// 		.fmn-details-priceAndAddToBasketFixed;
	
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid @color-border;
			margin-bottom: 0;
		}
		
		.fmn-details-addToBasket {
			.fmn-labels {
				display: block;
				margin-right: 0;
				margin-bottom: 3px;
				.e-icon {
					font-size: 24px;
				}
			}
		}
	}
	
	
	
	.fmn-details-priceAndAddToBasket {
	// 			.c-inline;
		.c-padding-model-side;
	// 			vertical-align: top;
	// 			width: 33.333%;
		margin-bottom: 20px;
		
		@media (max-width: 567px) {
	// 		.fmn-details-priceAndAddToBasketFixed;
		}
	
		.fmn-details-price {
			font-size: @f-size-normal;
			.c-inline;
			vertical-align: middle;
			width: 50%;
	
			.fmn-details-price-main {
				.fmn-common-price {
					font-size: @f-size-large;
					@media (max-width: 567px) { 
						white-space: nowrap; 
						line-height: 1.0;
					}	
				}
			}
			
			.fmn-details-price-single	 {
				font-size: @f-size-smallest;
				@media (max-width: 567px) { display: none; }
			}
			
			.fmn-details-price-save {
				font-size: @f-size-small;
				@media (max-width: 567px) { display: none; }
			}
		}
		
		.fmn-details-addToBasket {
			.c-inline;
			vertical-align: middle;
			text-align: right;
			width: 50%;
			button,
			input,
			a.fmn-button {
				.c-inline;
				vertical-align: middle;
			}
			.fmn-labels {
				.c-inline;
				vertical-align: middle;
				margin-right: 10px;
				@media (max-width: 767px) {
					display: block;
					margin-right: 0;
					margin-bottom: 3px;
					.e-icon {
						font-size: 24px;
					}
				}
			}
		}
	
	}				
	
	
	
	
	
	.fmn-details-options {
		
		select {
			min-width: 300px;
		}
		
		
		
	}
			
	.fmn-allergens {
		margin: 10px 0;
		.i-allergen {
			.c-inline;
			font-size: 0;
			margin-right: 10px;
			margin-bottom: 5px;
			.e-icon {
				.c-inline;
				vertical-align: middle;
				width: 32px;
				height: 32px;
				margin-right: 5px;
			}
			.e-caption {
				font-size: @f-size-normal;
				vertical-align: middle;
			}
		}
	}
	
	
	
	
	
	/***
		
	SIDEBAR
	
	***/
	
	
	
	.fmn-sidebar {
		
		padding-right: 10px;
		
		.fmn-title {
			line-height: 40px;
			padding: 10px 0;
			font-size: @f-size-larger;
			text-align: center;
		}	
	
		
		.fmn-sidebar-nav {
			.i-item {	
				display: block;
				padding: 15px 10px 15px 10px;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				border-bottom: 1px solid #e5e5e5;
				&.current {
					color: @color-basic;
					background-color: @color-selected-shading;
				}
				&:hover {
					color: @color-hover;
					background-color: @color-hover-background;
				}
				.e-caption {
					.c-inline;
					font-size: @f-size-large;
					line-height: 1.0;
					vertical-align: middle;
				}
				
				.e-price {
					display: block;
					font-size: @f-size-normal;
					margin-top: 2px;
					
				}
				.e-icon {
					.c-inline;
					vertical-align: middle;
				}
		
				&.m-wicon {
					padding-top: 10px;
					padding-bottom: 10px;
					font-size: 0;
					.e-caption {
						width: ~"calc(100% - 40px)";
						width: ~"-webkit-calc(100% - 40px)";
						width: ~"-moz-calc(100% - 40px)";
						width: ~"-ms-calc(100% - 40px)"; 
					}
					.e-icon {
						width: 40px;
						text-align: right;
						color: @color-basic;
					}
				}
	
			}
		}
		
			
		@media (max-width: 1023px) { display: none; }
	}
	
	
	
	
	
	
	.fmn-search-results {
		text-align: center;
		margin-bottom: 20px;
		font-size: @f-size-normal;
		.c-padding-model-side;
	}
	
	
	
	
	
	
	
	
	/***
		
	COMMON PRICE
	
	***/
	
	.fmn-common-price {
		.e-normal {
			color: @color-basic;
			font-size: 1.1em;
		}
		
		.e-original {
			font-size: 0.9em;
			color: @color-replaced;
			text-decoration: line-through;
		}
		
		.e-special {
			color: @color-highlight-text;
			font-size: 1.1em;
		}
		&.m-secondary {
			.e-special {
				color: @color-faded;
			}
		}
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/***
		
	COMMON MESSAGES
	
	***/
	
	.fmn-message {
		background-color: @color-highlight-shading;
		margin: 0 0 5px 0;
		padding-top: 15px;
		padding-bottom: 15px;
		.c-padding-model-side;
		font-size: @f-size-normal;
	
		&.m-success {
			background-color: #d6fdcf;
		}
		
		&.m-alert {
			color: @color-alert;
		}
	
		.e-detail {
			font-size: @f-size-smaller;
		}
		
		.e-error {
			color: #ff0000;
		}
	
		.e-messageTitle {
			font-size: @f-size-larger;
		}
		
		.e-disclaimer {
			font-size: @f-size-smaller;
			font-weight: 400;
			margin-top: 3px;
		}
		
		.e-icontext,
		.e-icon {
			.c-inline;
			vertical-align: middle;
		}
	
	}
	
	.fmn-screen-messages {
		padding-bottom: 10px;
		margin-top: 20px;
		.fmn-message {
			text-align: center;
		}
	}
	
	
	
	
	
	
	/***
		
	COMMON CONTENT
	
	***/
	
	
	.fmn-screen-intro {
		.c-padding-model-side;
		font-size: @f-size-normal;
		margin-bottom: 20px;
		&.m-center {
			text-align: center;
		}
	}
	
	.fmn-content-section {
		.c-padding-model-side;
		margin-bottom: 20px;
		p {
			font-size: @f-size-normal;
			margin-bottom: 10px;
		}
		&.m-center {
			text-align: center;
		}
		.n-small {
			font-size: @f-size-small;
		}
		&.m-space-top {
			margin-top: 20px;
		}
	}
	
	
	
	
	
	
	
	
	
	
	
	
	//
	//
	// SECTION LIST COMMON
	//
	//
	
	.fmn-list {
		
		.e-list-empty {
			text-align: center;
			font-size: @f-size-large;
			.c-padding-model-side;
			padding-top: 50px;
			padding-bottom: 50px;
			border-top: 1px solid @color-border;
		}
		
		.i-list-line {
	
			font-size: 0;
			position: relative;
			padding: 10px 0;
			border-bottom: 1px solid @color-border;
			
			&:last-child {
	
			}
			
			&.m-row:hover {
				background-color: @color-hover-background;
			}
			
			&.m-row.selected {
				background-color: @color-selected-shading;
			}
			
			&.m-header {
				.i-list-line-cell {
					font-size: @f-size-small !important;
				}
			}
	
			.i-list-line-wrap {
				.c-inline;
				vertical-align: middle;
			}
			
			.i-list-line-cell {
				.c-inline;
				vertical-align: middle;
				font-size: @f-size-normal;
				
			}
			
			.i-list-line-cell.m-actions {
				.c-list-actions;
			}
			
			.e-mobileLabel {
				display: none;
				opacity: 0.67;
			}
			.e-dataLabel {
				font-size: 0.8em;
				opacity: 0.67;
			}
			
			@media screen and (max-width: 767px) {
				padding: 15px 0;
				
				.e-mobileLabel {
					.c-inline;
				}
	
			}
			
			
			
		}
		
		&.m-row-clickable {
			.i-list-line.m-row {
				cursor: pointer;
				&:active {
					background-color: @color-active-background;
				}
				
			}
		}
		
		&.m-twoCol {
			font-size: 0;
			.i-list-line {
				border-bottom: 0;
				border-top: 1px solid @color-border;			
				.c-inline;
				width: 47%;
				margin-right: 3%;
				@media screen and (max-width: 639px) {
					width: 100%;
					margin-right: 0;
				}
			}
		}
		
		&.m-wfilters {
			@media (min-width: 1600px) { width: 80%; }
			@media (max-width: 1599px) { width: 80%; }
			@media (max-width: 1279px) { width: 75%; }
			@media (max-width: 1023px) { width: 100%; }
			.c-inline;
			vertical-align: top;
		}
		
	}
	
	.fmn-list-paging {
		font-size: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		.n-prev,
		.n-current,
		.n-next {
			padding: 0 10px;
			.c-inline;
			vertical-align: middle;
			width: 33.333%;
			font-size: 0;
			.e-icon,
			.e-caption {
				.c-inline;
				vertical-align: middle;
			}
			.e-caption {
				font-size: @f-size-normal;
				@media (max-width: 567px) {
					display: none;
				}
			}
		}
		.n-prev {
			.e-caption {
				margin-left: 10px;
			}
			@media (max-width: 567px) {
				width: 20%;
			}
		}
		.n-current {
			text-align: center;
			@media (max-width: 567px) {
				width: 60%;
			}
	
		}
		.n-next {
			text-align: right;
			.e-caption {
				margin-right: 10px;
			}
			@media (max-width: 567px) {
				width: 20%;
			}
	
		}
	}
	
	
	
	
	
	
	
	//
	//
	// SECTION LIST BASKET
	//
	//
	
	.fmn-basket {
		
		.fmn-orderTypeLocation {
			margin-bottom: 3px;
			text-align: center;
			.n-location,
			.n-date {
				.c-padding-model-side;
			}
			
		}
		
	
		.fmn-list {
			.i-list-line {
				.fmn-labels {
					display: block;
					margin-bottom: 5px;
				}
				.i-list-line-cell.m-checkbox {
					width: 5%; 
					label {
						padding: 10px;
						vertical-align: top;
					}
				}
				.i-list-line-wrap.m-photoName {
					width: 50%;
					.i-list-line-cell.m-photo { 
						width: 20%; 
						padding-right: 10px;
						a:link,
						a:visited {
							img {
								border: 0;
							}
						}
						img {
							width: 100%;
							display: block;
						}
					}
					.i-list-line-cell.m-name { 
						font-size: @f-size-large;
						line-height: 1.3;
						width: 80%; 
						padding-right: 10px;
						.e-detail {
							display: block;
							font-size: @f-size-small;
						}
						
	
					}
					&.noPhoto {
						.i-list-line-cell.m-name {
							width: 100%;
						}
					}
				}
				.i-list-line-wrap.m-priceQtyTotal {
					width: 40%;
					text-align: right;
					.i-list-line-cell.m-price { 
						width: 40%; 
						text-align: right; 
						padding: 0 10px;
					}
					.i-list-line-cell.m-qty {
						width: 40%;
						.c-qty-box;
					}
					.i-list-line-cell.m-lineTotal { 
						width: 20%; 
						text-align: right; 
						padding: 0 10px; 
					}
				}
				.i-list-line-cell.m-actions { 
					width: 5%;
					text-align: right; 
				}
						
				.i-list-line-cell.m-label {
					position: absolute;
					display: none;
					top: 0;
					left: 0;
					z-index: 100;
					.i-list-line-cell-label {
						.c-inline;
						color: @color-invertForeground;
						font-weight: @f-weight-bold;
						font-size: @f-size-smaller;
	// 					padding: 5px 10px;
						padding: 0 10px;
						height: 28px;
						line-height: 28px;
						&.m-justAdded {
							background-color: @color-justAdded-block;
							animation-duration: 1s;
							animation-delay: 5s;
							animation-timing-function: linear;
							animation-fill-mode: forwards;
							animation-name: justaddedlabel;
							@keyframes justaddedlabel {
								from {
									opacity: 1;
							    }
							    to {
									opacity: 0;
							    }
							}
						}
						&.m-noLongerAvailable {
							background-color: @color-noLongerAvailable-block;
						}
						&.m-adjustedQuantity {
							background-color: @color-highlight-block;
						}
						&.m-requiresAdvancePayment {
							font-size: 0;
							background-color: teal;
							span {
								.c-inline;
								vertical-align: middle;
								font-size: @f-size-smaller;
							}
							.e-icon {
								font-size: 28px;
								margin-right: 5px;
	
							}
						}
					}
				}
				
				
				
				&.m-justAdded,
				&.m-noLongerAvailable,
				&.m-adjustedQuantity {
					.i-list-line-cell.m-label {
						display: block;
					}
				}
				
				&.m-adjustedQuantity {
					background-color: @color-highlight-shading;
				}
				
				&.m-justAdded {
					background-color: @color-highlight-shading;
					animation-duration: 1s;
					animation-delay: 5s;
					animation-timing-function: linear;
					animation-fill-mode: forwards;
					animation-name: justaddedrow;
					@keyframes justaddedrow {
						from {
							background-color: @color-highlight-shading;
					    }
					    to {
							background-color: transparent;
					    }
					}
	
				}
				
				&.m-noLongerAvailable {
					background-color: @color-noLongerAvailable-shading;
					.m-photoName,
					.m-priceQtyTotal {
						opacity: 0.33;
					}
				}
	
				@media screen and (max-width: 767px) {
						&.m-header {
							.i-list-line-cell.m-checkbox {
								margin-bottom: 0;
								width: 100%;
							}
							.i-list-line-wrap.m-photoName,
							.i-list-line-wrap.m-priceQtyTotal {
								display: none;
							}
						}
	
						.i-list-line-cell.m-checkbox { 
							vertical-align: top;
							width: 10%; 
							margin-bottom: 10px;
							label {
								padding: 5px; 
							}
						}
	
						.i-list-line-wrap.m-photoName {
							vertical-align: top;
							width: 90%;
							.i-list-line-cell.m-photo { 
								vertical-align: top;
								margin-bottom: 10px; 
							}
							.i-list-line-cell.m-name { 
								vertical-align: top;
								margin-bottom: 10px; 
								padding-right: 40px; 
							}
						}
	
						.i-list-line-wrap.m-priceQtyTotal {
							width: 100%;
							text-align: right;
							.i-list-line-cell.m-price {
								padding-left: 0;
								padding-right: 2px;
								width: 40%;
								text-align: right; 
							}
	
							.i-list-line-cell.m-qty {
								width: 35%;
								max-width: 120px;
								text-align: center;
								.fmn-button {
									opacity: 0.50;
								}
							}
	
							.i-list-line-cell.m-lineTotal { 
								padding-left: 2px;
								width: 25%; 
								max-width: 90px; 
								text-align: right; 
							}
						}
	
						.i-list-line-cell.m-actions { 
							position: absolute; 
							width: auto; 
							top: 10px; 
							right: 0; 
						}
		
				}
			}
		}
		&.m-readOnly {
			.fmn-list {
				.i-list-line {
					
					.i-list-line-cell.m-checkbox,
					.i-list-line-cell.m-photo,
					.i-list-line-cell.m-actions,
					.i-list-line-cell.m-qty a {
						display: none !important;
					}
					.i-list-line-wrap.m-photoName {
						padding-left: 5px;
						.i-list-line-cell.m-name { 
							font-size: @f-size-normal;
							.e-detail {
								font-size: @f-size-smaller;
							}
						}
					}
					.i-list-line-wrap.m-priceQtyTotal {
						@media (min-width: 768px) { width: 50%; }
						@media (max-width: 767px) { width: 100%; }
						.i-list-line-cell.m-price { width: 40%; }
						.i-list-line-cell.m-qty {	width: 30%; }
						.i-list-line-cell.m-lineTotal { width: 30%; }
					}
					
	/*
					&.m-justAdded,
					&.m-noLongerAvailable,
					&.m-adjustedQuantity {
						padding-top: 30px;
					}
	*/
					
	
				}
			}
			
		}
	}
	
	
	
	
	
	
	
	.fmn-basket-footer {
		
		font-size: 0;
	
		.fmn-basket-footer-secondaryActions {
			.c-inline;
			width: 33.333%;
			padding: 10px;
		}
		.fmn-basket-footer-data {
			.c-inline;
			width: 66.667%;
		}
	
		.i-basket-footer-wrap {
			padding: 7px 0;
			border-top: 1px solid @color-border; 
			&:first-child {
				border-top: 0;
			}
			&.m-note {
				border-top: 0;
			}
		}
	
		.fmn-basket-promoCode {
			margin-top: 20px;
		}
	
	
		.i-basket-footer-line {
			font-size: 0;
			.i-basket-footer-line-cell {
				.c-inline;
				padding-top: 5px;
				padding-bottom: 5px;
				&.m-label {
					width: 70%;
					font-size: @f-size-normal;
					text-align: right;
					.e-note {
						display: block;
						font-size: @f-size-small;
						a {
							white-space: nowrap;
						}
					}
					.e-special {
						color: @color-highlight-text;
					}
				}
				&.m-value {
					width: 22.5%;
					font-size: @f-size-normal;
					text-align: right;
					margin-right: 7.5%;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			.i-basket-footer-line-span {
				display: block;
				font-size: @f-size-smaller;
				text-align: right;
				margin-right: 7.5%;
				padding-right: 10px;
			}
			
		}
		
		@media screen and (max-width: 767px) {
				.fmn-basket-footer-secondaryActions,
				.fmn-basket-footer-data {
					width: 100%;
				}
				.i-basket-footer-line {
					text-align: right;
					.i-basket-footer-line-cell {
						&.m-label {
							width: 70%;
						}
						&.m-value {
							width: 30%;
							max-width: 80px;
							margin-right: 0;
						}
					}	
					.i-basket-footer-line-span {
						margin-right: 0;
					}				
				}
		}
		&.m-readOnly {
			.fmn-basket-footer-secondaryActions {
				display: none;
			}
			.fmn-basket-footer-data {
				width: 100%;	
			}
			.i-basket-footer-wrap {
				border-top: 0;
				padding-top: 0;
				padding-bottom: 0;
				&.m-basket {
					padding-top: 10px;
				}
				&.m-total {
					padding-bottom: 10px;
				}
			}
			.i-basket-footer-line {
				.i-basket-footer-line-cell {
					&.m-label {
						width: 80%;
					}
					&.m-value {
						width: 20%;
						margin-right: 0;
					}
				}
				.i-basket-footer-line-span {
					margin-right: 0;
				}
			}
			.i-basket-footer-line {
				.i-basket-footer-line-cell {
					.e-note	{
						display: none;
					}
	
				}
				&.m-total {
					.i-basket-footer-line-cell {
						.e-note	{
							display: block;
						}
		
					}
					
				}
			}
		}
	}
	
	
	
	.fmn-start {
		padding: 100px 0;
		@media (max-height: 500px) {
			padding: 50px 0;
		}
		@media (max-height: 400px) {
			padding: 20px 0;
		}
	}
	
}	















html body .fmn-root {



	
	
	
	
	//
	//
	// LIST ORDERS
	//
	//
	
	.fmn-orders {
		.fmn-list {
			.i-list-line {
			
				.i-list-line-cell {
					padding-left: 10px;
					padding-right: 10px;
					
				}
				.e-mobileLabel {
						margin-right: 5px;
					}
				.i-list-line-cell.m-orderNo {
					width: 10%;
				}
				
				.i-list-line-cell.m-dateTime {
					width: 20%;
				}
				.i-list-line-cell.m-details {
					width: 30%;
					font-size: @f-size-large;
					.e-detail {
						font-size: @f-size-small;
						display: block;
					}
				}
				
				.i-list-line-cell.m-status {
					width: 15%;
				}
				.i-list-line-cell.m-orderTotal {
					width: 10%;
					text-align: right;
				}
				.i-list-line-cell.m-actions {
					width: 15%;
					text-align: right;
				}
				
				@media screen and (max-width: 767px) {
							
						&.m-header {
							.i-list-line-cell {
								display: none;	
							}
						}
						
						.i-list-line-cell.m-orderNo,
						.i-list-line-cell.m-dateTime,
						.i-list-line-cell.m-details,
						.i-list-line-cell.m-status,
						.i-list-line-cell.m-orderTotal {
							width: 100%;
							text-align: left;
						}
						.i-list-line-cell.m-actions { 
							position: absolute; 
							width: auto; 
							top: 10px; 
							right: 0; 
						}
							
				}
	
			}
		}
	}


}


.c-list-photo-width {
	width: 120px;
	@media (max-width: 767px) {
		width: 100px;
	}
	@media (max-width: 567px) {
		width: 80px;
	}
}

.c-list-name-width {
	width: ~"calc(100% - 120px)";
	width: ~"-webkit-calc(100% - 120px)";
	width: ~"-moz-calc(100% - 120px)";
	width: ~"-ms-calc(100% - 120px)";
	@media (max-width: 767px) {
		width: ~"calc(100% - 100px)";
		width: ~"-webkit-calc(100% - 100px)";
		width: ~"-moz-calc(100% - 100px)";
		width: ~"-ms-calc(100% - 100px)";
	}
	@media (max-width: 567px) {
		width: ~"calc(100% - 80px)";
		width: ~"-webkit-calc(100% - 80px)";
		width: ~"-moz-calc(100% - 80px)";
		width: ~"-ms-calc(100% - 80px)";
	}
}

.c-list-subitems-margin-left {	
	margin-left: 120px;
	@media (max-width: 767px) {
		margin-left: 100px;
	}
	@media (max-width: 567px) {
		margin-left: 80px;
	}
}

.c-list-actions {
	font-size: 0;
	padding-left: 5px;
	padding-right: 5px;
	a {
		.c-inline;
		opacity: 0.50;
		&:hover {
			opacity: 0.75 !important;
		}
		&:active {
			opacity: 1.00 !important;
		}
	}
	.e-action-delete {
		color: @color-alert;
	}
	
}

















html body .fmn-root {

	//
	//
	// LIST PRODUCTS
	//
	//
	
	.fmn-products {
	
		.fmn-products-title {
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
	
			.e-caption {
				font-size: @f-size-giant;
				background-color: @color-background-basic;
				color: @color-titles;
				.c-padding-model-label;
			}
			
			&.m-withPhoto {
				background-size: cover;			
				background-position: center center;
				background-repeat: no-repeat;
				position: relative;
				overflow: hidden;
				&:first-child {
					margin-top: 0;
				}
				
				&::before {
					content: "";
					display: block;
					padding-top: 20%;
					@media screen and (max-width: 767px) {
						padding-top: 33.333%;
					}
					@media screen and (max-width: 479px) {
						padding-top: 40%;
					}
				}
				
				.e-caption {
					position: absolute;
					bottom: 10%;
					left: 0;
				}
				
			}
			
			&.m-noPhoto {
	// 			background-color: #ede8e0;
				padding: 20px 0;
				border-bottom: 1px solid @color-border;
			}
		}
		
		
		
		
		
		
		
		
		
		.fmn-list {
			
			.i-list-line {
				position: relative;
	// non absolute labels
	//			padding: 25px 0;
	//			@media (max-width: 767px) { padding: 30px 0; }
	//			@media (max-width: 567px) { padding: 30px 0; }
				padding: 10px 0 20px;
				
				.e-addToBasket {
					font-size: 0;
					white-space: nowrap;
					.e-icon,
					.e-caption {
						.c-inline;
						vertical-align: middle;
					}
					.e-caption {
						margin-left: 5px;
						font-size: @f-size-normal;
					}
				}
				
				.i-list-line-cell {
					padding-left: 10px;
					padding-right: 10px;
					
				}
				.e-mobileLabel {
					margin-right: 5px;
				}
				.i-list-line-wrap.m-photoName {
					width: ~"calc(100% - 240px)";
					width: ~"-webkit-calc(100% - 240px)";
					width: ~"-moz-calc(100% - 240px)";
					width: ~"-ms-calc(100% - 240px)";
					
					
					.i-list-line-cell.m-photo { 
						
						.c-list-photo-width;
						padding-right: 10px; 
						a:link,
						a:visited {
							img {
								border: 0;
							}
						}
						img {
							width: 100%;
							display: block;
						}
	
					}
					.i-list-line-cell.m-name { 
						font-size: @f-size-larger;
						line-height: 1.3;
						
						.c-list-name-width;
						 
						padding-right: 10px;
						
						.e-subitem-name {
							display: block;
							font-size: @f-size-large;
							margin-bottom: 3px;
						}
						
						.e-detail {
							display: block;
							font-size: @f-size-small;
						}
						a {
							.c-inline;
							vertical-align: middle;
							margin-bottom: 3px;
						}
						
						.fmn-labels {
	// non absolute labels
							display: block;
							margin-bottom: 5px;
	
	// 						position: absolute;
	// 						top: 0;
	// 						left: 0;
						}
						
					}
	/*
					&.noPhoto {
						.i-list-line-cell.m-name {
							width: 100%;
						}
					}
	*/
				}
				
	
				
				.i-list-line-cell.m-qty {
					width: 150px;
					.c-qty-box;
					vertical-align: middle;
					display: none;
				}
							
				.i-list-line-cell.m-price {
					width: 150px;
					text-align: right;
					.e-item-price {
						.c-inline;
						width: 100%;
						font-size: @f-size-small;
						.e-item-price-label {
							opacity: 0.67;
							font-size: 0.8em;
						}
						.e-item-price-number {
							&.m-special {
								color: @color-highlight-text;
							}
	
						}
					}
				}
				.i-list-line-cell.m-actions {
					width: 90px;
					text-align: right;
				}
				
				.e-subitems {
					display: none;
					margin-top: 20px; 
					.c-list-subitems-margin-left;
					.i-subitem {
						padding-top: 5px;
						padding-bottom: 5px;
						border-top: 1px solid @color-border;
						
						.i-subitem-cell {
							.c-inline;
							vertical-align: middle;
							padding-left: 10px;
							padding-right: 10px;
							font-size: @f-size-normal;
							&.m-labels-name {
								
								width: ~"calc(100% - 240px)";
								width: ~"-webkit-calc(100% - 240px)";
								width: ~"-moz-calc(100% - 240px)";
								width: ~"-ms-calc(100% - 240px)";
								.e-subitem-name,
								.e-subitem-labels {
									.c-inline;
									vertical-align: middle;
									font-size: 0;
								}
								.e-subitem-name {
									font-size: @f-size-large;
								}
								.e-subitem-labels {
									font-size: 0;
									.i-subitem-label {
										.c-inline;
										&:last-child {
											margin-right: 10px;
										}
									}
								}
							}
							&.m-price {
								width: 150px;
								text-align: right;
								.e-item-price {
									.c-inline;
									width: 100%;
									font-size: @f-size-small;
									.e-item-price-label {
										opacity: 0.67;
										font-size: 0.8em;
									}
									.e-item-price-number {
										&.m-special {
											color: @color-highlight-text;
										}
									}
								}
							}
							
							&.m-qty {
								width: 150px;
								.c-qty-box;
								display: none;	
							}
							&.m-add {
								.c-list-actions;
								width: 90px;
								text-align: right;
								padding-left: 10px;
								padding-right: 10px;
							}
						}
						&:hover {
							background-color: @color-hover-background;	
						}
					}
				}
				
				&.m-withsubitems {
					.i-list-line-wrap.m-photoName {
						width: 100%;
					}
					.i-list-line-cell.m-qty {
						display: none;
					}
					.i-list-line-cell.m-price {
						display: none;
					}
					.i-list-line-cell.m-actions {
						display: none;
					}
					.e-subitems {
						display: block;
					}
				}
				
				
	
				
	
			}
		}
		
		&.m-eachLineQty {
			.fmn-list {
				.i-list-line {
					.i-list-line-cell.m-qty {
						.c-inline;
						vertical-align: middle;
					}
					
					.i-list-line-wrap.m-photoName {
						width: ~"calc(100% - 390px)";
						width: ~"-webkit-calc(100% - 390px)";
						width: ~"-moz-calc(100% - 390px)";
						width: ~"-ms-calc(100% - 390px)";
					}
					.e-subitems {
						.i-subitem-cell.m-labels-name {
							width: ~"calc(100% - 390px)";
							width: ~"-webkit-calc(100% - 390px)";
							width: ~"-moz-calc(100% - 390px)";
							width: ~"-ms-calc(100% - 390px)";
						}
						.i-subitem-cell.m-qty {
							.c-inline;
							vertical-align: middle;
						}
					}
					&.m-withsubitems {
						.i-list-line-wrap.m-photoName {
							width: 100%;
						}
						.i-list-line-cell.m-qty {
							display: none;
						}
					}
				}
			}
		}
		
		&.m-noAddToBasket {
			.fmn-tiles {
				.i-tile {
					.e-addToBasket {
						display: none;
					}
				}
			}
			.fmn-list {
				.i-list-line {
					.e-addToBasket {
						display: none;
					}
					.i-list-line-cell.m-actions {
						display: none;
					}
					.i-list-line-wrap.m-photoName {
						width: ~"calc(100% - 190px)";
						width: ~"-webkit-calc(100% - 190px)";
						width: ~"-moz-calc(100% - 190px)";
						width: ~"-ms-calc(100% - 190px)";
					}
					.e-subitems {
						.i-subitem-cell.m-labels-name {
							width: ~"calc(100% - 190px)";
							width: ~"-webkit-calc(100% - 190px)";
							width: ~"-moz-calc(100% - 190px)";
							width: ~"-ms-calc(100% - 190px)";
						}
						.i-subitem-cell.m-add {
							display: none;
						}
					}
					
				}
				&.m-twoCol {
					
				}
			}
		}
		
		&.m-noPhotos {
			.fmn-list {
				.i-list-line {
					.i-list-line-wrap.m-photoName {
						.i-list-line-cell.m-photo {
							display: none;
						}
						.i-list-line-cell.m-name {
							width: 100%;
						}
					}
					.e-subitems {
						margin-left: 40px;
					}
				}
			}
		}
		
		
		
		
		
		@media screen and (max-width: 767px) {
			
			.fmn-list {
				.i-list-line {
				
					&.m-header {
						.i-list-line-cell {
							display: none;	
						}
					}
			
					.i-list-line-wrap.m-photoName {
						vertical-align: top;
						width: 100%;
						.i-list-line-cell.m-photo { 
							vertical-align: top;
							margin-bottom: 10px; 
						}
						.i-list-line-cell.m-name { 
							vertical-align: top;
							margin-bottom: 10px; 
							a,
							.fmn-labels {
								width: 100%;
								padding-right: 90px; 							
							}
						}
					}
					
					.i-list-line-cell.m-details,
					.i-list-line-cell.m-price {
						width: 100%;
						text-align: left;
					}
					
					.i-list-line-cell.m-price {
						text-align: right; 
					}
					
					.i-list-line-cell.m-actions { 
						position: absolute; 
						width: auto; 
						top: 10px; 
						right: 0; 
					}
					
					.e-subitems {
						margin-top: 10px;
					}
			
				}
			}
			
			&.m-eachLineQty {
				.fmn-list {
					.i-list-line {
						
						.i-list-line-wrap.m-photoName {
							width: 100%;
						}
						
						.i-list-line-cell.m-price {
							width: ~"calc(100% - 240px)";
							width: ~"-webkit-calc(100% - 240px)";
							width: ~"-moz-calc(100% - 240px)";
							width: ~"-ms-calc(100% - 240px)";
						}
						
	
						.i-list-line-cell.m-actions { 
							position: static; 
							width: 90px; 
							top: 10px; 
							right: 0; 
						}
					}
				}
			}
			
			&.m-noAddToBasket {
				.fmn-list {
					.i-list-line {
						
						.i-list-line-wrap.m-photoName {
							width: 100%;
						}
					}
				}
			}
				
		}
		
		
		@media screen and (max-width: 667px) {
			
			.fmn-list {
				.i-list-line {
				
					.e-subitems {
	
						.i-subitem {
							padding-top: 10px;
							padding-bottom: 10px;
							.i-subitem-cell.m-labels-name {
								width: 100%;
							}
							.i-subitem-cell.m-price {
								width: ~"calc(100% - 90px)";
								width: ~"-webkit-calc(100% - 90px)";
								width: ~"-moz-calc(100% - 90px)";
								width: ~"-ms-calc(100% - 90px)";
							}
						}
					}
			
				}
			}
	
			
			&.m-eachLineQty {
			
				.fmn-list {
					.i-list-line {
					
						.e-subitems {
		
							.i-subitem {
	
								.i-subitem-cell.m-price {
									width: ~"calc(100% - 240px)";
									width: ~"-webkit-calc(100% - 240px)";
									width: ~"-moz-calc(100% - 240px)";
									width: ~"-ms-calc(100% - 240px)";
								}
							}
						}
				
					}
				}
			}
			
			&.m-noAddToBasket {
			
				.fmn-list {
					.i-list-line {
					
						.e-subitems {
		
							.i-subitem {
	
								.i-subitem-cell.m-price {
									width: 100%;
								}
							}
						}
				
					}
				}
			}
			
				
		}
		
		
		
		@media screen and (max-width: 479px) {
			
			.fmn-list {
				.i-list-line {
				
					.e-subitems {
	
						.i-subitem {
							padding-top: 10px;
							padding-bottom: 10px;
							.i-subitem-cell.m-labels-name {
								width: 100%;
							}
							.i-subitem-cell.m-price {
								width: ~"calc(100% - 90px)";
								width: ~"-webkit-calc(100% - 90px)";
								width: ~"-moz-calc(100% - 90px)";
								width: ~"-ms-calc(100% - 90px)";
							}
						}
					}
			
				}
			}
	
			&.m-eachLineQty {
			
				.fmn-list {
					.i-list-line {
						
						.i-list-line-cell.m-price {
							width: 100%;
							text-align: right;
							margin-bottom: 10px;
						}
					
						.i-list-line-cell.m-qty {
							margin-left: 80px;
							width: ~"calc(100% - 170px)";
							width: ~"-webkit-calc(100% - 170px)";
							width: ~"-moz-calc(100% - 170px)";
							width: ~"-ms-calc(100% - 170px)";
							text-align: right;
						}
						
						.i-list-line-cell.m-actions {
							
						}
						
						.e-subitems {
		
							.i-subitem {
								
								.i-subitem-cell.m-qty {
									width: ~"calc(100% - 90px)";
									width: ~"-webkit-calc(100% - 90px)";
									width: ~"-moz-calc(100% - 90px)";
									width: ~"-ms-calc(100% - 90px)";
									text-align: right;
								}
								.i-subitem-cell.m-price {
									width: 100%;
									text-align: right;
									margin-top: 5px;
									margin-bottom: 10px;
								}
							}
						}
				
					}
				}
			}
			
			&.m-noAddToBasket {
			
				.fmn-list {
					.i-list-line {
					
						.e-subitems {
		
							.i-subitem {
	
								.i-subitem-cell.m-price {
									width: 100%;
								}
							}
						}
				
					}
				}
			}
			
				
		}
		


		
	}




}







html body .fmn-root {

	
	.fmn-overlay {
		
		z-index: 3000;
	
		.fmn-overlay-dimmer {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.87);
			z-index: 3001;
		}
		
		.fmn-overlay-box {
			position: fixed;
			width: 100%;
			max-width: 500px;
			z-index: 3002;
	
			background-color: @color-background-basic;
			top: 0;
			left: 50%;
			.translate(-50%, 0);
			max-height: 100%;
			overflow-y: scroll;
	
			.fmn-overlay-close {
				position: absolute;
				top: 13px;
				right: 5px;
				z-index: 3005;
			}
			
			.fmn-overlay-title {
				border-bottom: 1px solid @color-border;
				padding-top: 15px;
				padding-bottom: 15px;
				margin-bottom: 10px;
				.c-padding-model-side;
				padding-right: 45px !important;
				h3 {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: @f-size-largest;
				}
			}
			
			
			.fmn-overlay-message {
				.c-padding-model-side;
				font-size: @f-size-normal;
				p {
					margin-bottom: 10px;
				}
			}
			
	
		}
	
	}
	
	
	
	
	
	
	
	
	
	//
	//
	// ACTIONS
	//
	//
	
	
	
	
	
	.fmn-actions {
		margin-top: 30px;
		border-top: 1px solid @color-border;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 0;
		.c-padding-model-side;
		a:link, 
		a:visited, 
		a.fmn-button:link, 
		a.fmn-button:visited, 
		button, 
		input[type="submit"], 
		input[type="button"] {
			.c-inline;
			vertical-align: middle;
			margin-right: 20px;
			margin-left: 0;
		}
		a:link,
		a:visited {
			font-size: @f-size-normal;
		}
		
		.n-actions-alert {
			.c-inline;
			background-color: @color-highlight-block;
			color: @color-invertForeground;
			font-size: @f-size-normal;
			margin-bottom: 10px;
			.c-padding-model-label;
		}
		.n-actions-note {
			.c-inline;
			background-color: @color-highlight-shading;
			font-size: @f-size-normal;
			margin-bottom: 10px;
			.c-padding-model-label;
		}
		&.m-right {
			text-align: right;
			a:link, 
			a:visited, 
			a.fmn-button:link, 
			a.fmn-button:visited, 
			button, 
			input[type="submit"], 
			input[type="button"] {
				margin-right: 0;
				margin-left: 20px;
			}
		}
		&.m-center {
			text-align: center;
			a:link, 
			a:visited, 
			a.fmn-button:link, 
			a.fmn-button:visited, 
			button, 
			input[type="submit"], 
			input[type="button"] {
				margin-right: 10px;
				margin-left: 10px;
			}
		}
		
	}
	
	
	.fmn-agree {
		line-height: 1.4;
		margin-bottom: 15px;
		.fmn-form-option {
			padding: 0;
		}
		a.n-termsLink:link,
		a.n-termsLink:link {
			display: inline;		
			margin: 0;
			vertical-align: baseline;
	
		}
	}
	
	
	.fmn-listactions {
		.c-padding-model-side-double;
		margin-bottom: 20px;
	}
	
	
	
	
	//
	//
	// BLOCKS
	//
	//
	
	.fmn-blocks {
		font-size: 0;
		
		.i-block-wrap {
			
			.c-padding-model-side;
			.c-inline;
			margin-bottom: 20px;
			&.m-onlyButton {
				.i-block {
					text-align: center;
					padding-top: 40px;
					padding-bottom: 40px;
				}
			}
		}
		
		.i-block {
			.c-padding-model-side;
			padding-top: 20px;
			padding-bottom: 20px;
			border: 1px solid @color-border;
			border-radius: @i-border-radius;
			display: block;
			h4 {
				font-size: @f-size-large;
				span {
					font-size: @f-size-large;
				}
				margin-bottom: 5px;
			}
			p {
				font-size: @f-size-normal;
				margin-bottom: 10px;
			}
			a, button, a.fmn-button {
				.c-inline;
				vertical-align: middle;
				margin-right: 10px;
			}
			a {
				font-size: @f-size-normal;
			}
			.i-line {
				display: block;
				font-size: @f-size-normal;
				.e-label {
					font-size: @f-size-small;
					color: @color-faded;
				}
				.e-value {
					font-size: @f-size-normal;
				}
			}
			.e-summary {
				display: block;
				margin-bottom: 10px;
			}
			.e-actions {
				display: block;
			}
	
		}
		
		&.m-oneCol {
			.i-block-wrap {
				@media (min-width: 768px) { width: 100%; }
				@media (max-width: 767px) { width: 100%; }
			}	
		}
		
		&.m-twoCols {
			.i-block-wrap {
				@media (min-width: 768px) { width: 50%; }
				@media (max-width: 767px) { width: 100%; }
			}
		}
		
		&.m-threeCols {
			.i-block-wrap {
				@media (min-width: 768px) { width: 33.333%; }
				@media (max-width: 767px) { width: 100%; }
			}
		}
		
		&.m-justAction {
			.i-block {
				position: relative;
				a, button {
					position: absolute;
					right: 20px;
					margin-right: 0;
					top: 50%;
					.translate(0, -50%);
				}
			}
		}
		&.m-straightLinks {
			.i-block {
				h4 {
					color: @color-action;
					.c-inline;
					vertical-align: middle;
					margin-bottom: 0;
					font-size: @f-size-larger;
					span {
						font-size: @f-size-larger;						
					}

				}
				.e-icon {
					.c-inline;
					vertical-align: middle;
					margin-right: 10px;
					font-size: 48px;
				}
				&:hover {
					h4 {
						color: @color-hover;
					}
				}
			}
			&.m-small {
				h4 {
					font-size: @f-size-large;
				}
				.e-icon {
					font-size: 32px;
				}
			}
		}
		
		&.m-withArrow {
			.i-block {
				padding-right: 50px;
				position: relative;
				.e-rightArrow {
					position: absolute;
					top: 50%;
					right: 0;
					.translate (0, -50%);
				}
			}
		}
		
		&.m-iconTop {
			.i-block {
				h4 {
					display: block;
				}
				.e-icon {
					margin-bottom: 5px;
				}
			}
		}
		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	//
	//
	// SCREEN CONTENT
	//
	//
	
	.fmn-screen-content-wrap {
	
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		
		&.m-reducedWidth-oneHalf {
			@media (min-width: 1024px) { width: 50%; }
			@media (max-width: 1023px) { width: 66.667%; }
			@media (max-width: 767px) { width: 100%; }
			@media (max-width: 479px) { width: 100%; }
		}
			
		&.m-reducedWidth-oneThird {
			@media (min-width: 1024px) { width: 33.333%; }
			@media (max-width: 1023px) { width: 50%; }
			@media (max-width: 767px) { width: 66.667%; }
			@media (max-width: 479px) { width: 100%; }
		}
		
		&.m-reducedWidth-twoThirds {
			@media (min-width: 1024px) { width: 66.667%; }
			@media (max-width: 1023px) { width: 100%; }
			@media (max-width: 767px) { width: 66.667%; }
			@media (max-width: 479px) { width: 100%; }
		}
		
		// side disappears at 1023px
		
		&.m-reducedWidth-oneThirdWithSide {
			@media (min-width: 1280px) { width: 41.6%; }
			@media (max-width: 1279px) { width: 44.444%; }
			@media (max-width: 1023px) { width: 50%; }
			@media (max-width: 767px) { width: 66.667%; }
			@media (max-width: 479px) { width: 100%; }
		}
		
		&.m-reducedWidth-twoThirdsWithSide {
			@media (min-width: 1280px) { width: 83.2%; }
			@media (max-width: 1279px) { width: 88.888%; }
			@media (max-width: 1023px) { width: 100%; }
			@media (max-width: 767px) { width: 66.667%; }
			@media (max-width: 479px) { width: 100%; }
		}
		
		
		&.m-fullWidth {
			width: 100%;
			@media (max-width: 767px) { width: 66.667%; }
			@media (max-width: 479px) { width: 100%; }
		}
				
		h2.m-secondaryTitle {
			font-size: @f-size-larger;
			.c-padding-model-side;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	
		.fmn-screen-content-wrap-columns {
			font-size: 0;
			.fmn-screen-content-wrap-column {
				.c-inline;
				&.m-oneThird {
					@media (min-width: 768px) { width: 33.333%; }
					@media (max-width: 767px) { width: 100%; }
				}
				&.m-oneHalf {
					@media (min-width: 768px) { width: 50%; }
					@media (max-width: 767px) { width: 100%; }
				}
				&.m-twoThirds {
					@media (min-width: 768px) { width: 66.667%; }
					@media (max-width: 767px) { width: 100%; }
				}
				
				&.m-twoFifths {
					@media (min-width: 768px) { width: 40%; }
					@media (max-width: 767px) { width: 100%; }
				}
				&.m-threeFifths {
					@media (min-width: 768px) { width: 60%; }
					@media (max-width: 767px) { width: 100%; }
				}
	
				
			}
			&.m-spaceBelow {
				.fmn-screen-content-wrap-column {
					margin-bottom: 30px;
				}
			}
		}
		
	}
	
	.fmn-screen-content-header {
		&.m-center {
			text-align: center;
		}
		margin-bottom: 20px;
	}
	
	
	
	
	
	// used on review order
	
	.fmn-summary {
		
		.fmn-summary-section {
			&:first-child {
				border-top: 0;
			}
		}
	}
	
	
	
	
	.fmn-announcements {
		.i-announcement-wrap {
			margin-bottom: 50px;
			.i-announcement {
				h2 {
					margin-bottom: 5px;
					font-size: @f-size-huge;
					line-height: 1.1;
				}
				p {
					margin-bottom: 10px;
				}
				.n-dateTimeLocation {
					.n-dateTime,
					.n-location {
						font-size: @f-size-large;
					}
					@media (max-width: 567px) {					
						.n-dateTime {
							margin-bottom: 3px;	
							display: block;
						}
						.n-location {
							display: block;
						}
					}
					
					margin-bottom: 10px;
					
				}
				.n-actions {
					float: right;
					margin-bottom: 20px;
					margin-left: 20px;
					@media (max-width: 567px) {
						float: none;
						margin-top: 10px;
						margin-bottom: 10px;
						margin-left: 0;	
					}
				}
				img {
					width: 100%;
					display: block;
					margin-bottom: 10px;
				}
				.c-padding-model-side;
				font-size: @f-size-normal;
			}
		}
	}
	
	
	
	
	// used on details screen
	// used on review order
	
	.fmn-section {
		font-size: @f-size-normal;
		border-top: 1px solid @color-border;
	
		.c-padding-model-side;
		padding-top: 10px;
		padding-bottom: 20px;
		h3.fmn-section-title {
			font-size: @f-size-large;
			span, a {
				.c-inline;
				vertical-align: middle;
				margin-right: 10px;
				margin-bottom: 3px;
			}
		}
		.fmn-section-data {
			font-size: @f-size-normal;
			.e-highlight {
				background-color: @color-background-alert;
				color: @color-alert;
			}
		}
	
		
	}
	
	.fmn-text-section {
		p {
			font-size: @f-size-normal;
			margin-bottom: 10px;
			.c-padding-model-side;
		}
	}
	



}









@i-height-smaller: 28px;
@i-height-small: 36px;
@i-height-normal: 40px;
@i-height-large: 44px;
@i-height-huge: 56px;
@i-height-giant: 72px;

@i-border-radius: 5px;

@i-button-emboss: 2px;
@i-lineHeight-ratio: 0.9;
@i-lineHeight-ratio-huge: 0.8;
@i-lineHeight-ratio-giant: 0.8;


html body .fmn-root {
	
	
	//
	//
	// SECTION FIELDS
	//
	//
	
	
	/* all fields */
	
	.c-fields-all {
		
		font-size: @f-size-normal;
		display: inline-block;
		padding: 0 10px;
		margin: 0;
		background-color: #fff;
		outline: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 100%;
		border-radius: 0;
		border: 1px solid fade(@color-basic, 33%);
		font-family: @f-family-main;
		border-radius: @i-border-radius;
		.transition( ~"border-color", 0.2s, linear, 0s );
	
		&:hover {
			border-color: fade(@color-basic, 57%);
		}
		
		&:focus {
			border-color: fade(@color-basic, 67%);
		}
	
		&.m-huge {
			font-size: @f-size-huge;			
		}
		
		&.m-large {
			font-size: @f-size-large;
		}
		
		&.m-small {
			font-size: @f-size-small;
		}
		
		&.m-error,
		&.input-validation-error {
			border-color: fade(@color-alert, 33%);
			color: @color-alert;
			background-color: @color-highlight-shading;
		}
	
		&.m-error:hover,
		&.input-validation-error:hover {
			border-color: fade(@color-alert, 57%);
		}
	
		&.m-error:active,
		&.input-validation-error:active {
			border-color: fade(@color-alert, 67%);
		}
	
		&:disabled {
			background-color: @color-disabled-shading;
			color: @color-faded;
		}
		
		&.m-maxwidth {
			max-width: 400px;
		}
	
	}
	
	
	
	/* fields & selects */
	
	.c-fields-singleLine {
		height: @i-height-normal;
		line-height: @i-height-normal;
		&.m-huge {
			height: @i-height-huge;
			line-height: @i-height-huge * @i-lineHeight-ratio-huge;				
		}
		
		&.m-large {
			height: @i-height-large;
			line-height: @i-height-large;
		}
		
		&.m-small {
			height: @i-height-small;
			line-height: @i-height-small;
		}
	}
	
	
	
	/* fields & text areas */
	
	.c-fields-freeEntry {
		&:focus {
			outline: none;
		}
	}
	
	
	
	/* selects */
	
	.c-fields-fixedOptions {
		&:focus {
			outline: none;
		}
		&:disabled {
			border: 1px solid fade(@color-basic, 33%);
		}
	}
	
	input[type="text"], 
	input[type="number"], 
	input[type="password"], 
	input[type="email"] {
		.c-fields-all; 
		.c-fields-singleLine; 
		.c-fields-freeEntry;
	}
			
	select {
		.c-fields-all; 
		.c-fields-singleLine; 
		.c-fields-fixedOptions;
		background-image: url(../images/drop-down.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 20px;
		padding-right: 30px;
		border-color: fade(@color-action, 33%);
		color: @color-action;
		&:hover {
			border-color: fade(@color-action, 57%);
		}
		
		&:focus {
			border-color: fade(@color-action, 67%);
		}
		&:disabled,
		&:hover:disabled,
		&:active:disabled,
		&:focus:disabled {
			border-color:fade(@color-basic, 33%);
		}
		option {
	
		}
		
		
	}
	
	textarea {
		.c-fields-all; 
		.c-fields-freeEntry;
		line-height: 1.2;
		padding-top: 10px;
		min-height: 100px;
	}
	
	
	
	
	
	
	
		
	
	//
	//
	// SECTION BUTTONS
	//
	//
	
	
	input[type="button"],
	input[type="submit"],
	button,
	a.fmn-button:link,
	a.fmn-button:visited,
	.c-button {
	
		.c-inline;
	
		font-family: @f-family-main;
		font-weight: @f-weight-normal;
		font-size: @f-size-normal;
	
		height: @i-height-normal;
		line-height: @i-height-normal * @i-lineHeight-ratio;
			
		padding: 0 15px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
		color: #fff;
		border: 0;
		margin: 0;
		
		background-color: @color-action;
		
		border-style: solid;
		border-width: 1px;
		border-color: transparent;
		border-bottom-width: @i-button-emboss;
		border-bottom-color: darken(@color-action, 13%);
		border-radius: @i-border-radius;
		.transition( ~"background-color", 0.2s, linear, 0s );
	
		
		img {
			height: 32px;
			margin-top: 4px;
			.c-inline;
			margin-right: 10px;
		}
		
		span {
			.c-inline;
		}
		
		&:hover {
			.transition( ~"background-color", 0.2s, linear, 0s );
			background-color: lighten(@color-action, 5%);
		}
		
		&:active {
			.transition( ~"background-color", 0s, linear, 0s );
			background-color: darken(@color-action, 5%);
			outline: none;
			margin-top: @i-button-emboss;
			border-bottom-width: 0;
			height: @i-height-normal - @i-button-emboss; 
			line-height: @i-height-normal - @i-button-emboss;
	
		}
		
		&.m-giant {
			font-size: @f-size-giant;
			height: @i-height-giant;
			line-height: @i-height-giant * @i-lineHeight-ratio-giant;
			padding: 0 15px;
			&:active { 
				height: @i-height-giant - @i-button-emboss; 
				line-height: @i-height-giant - @i-button-emboss;
			}
	
		}
		
		&.m-huge {
			font-size: @f-size-huge;
			height: @i-height-huge;
			line-height: @i-height-huge * @i-lineHeight-ratio-huge;
			padding: 0 15px;
			&:active { 
				height: @i-height-huge - @i-button-emboss; 
				line-height: @i-height-huge - @i-button-emboss;
			}
	
		}
		
		&.m-large {
			font-size: @f-size-large;
			height: @i-height-large;
			line-height: @i-height-large * @i-lineHeight-ratio;
			padding: 0 15px;
			&:active { 
				height: @i-height-large - @i-button-emboss; 
				line-height: @i-height-large - @i-button-emboss;
			}
	
		}				
	
		&.m-small {
			font-size: @f-size-small;
			height: @i-height-small;
			line-height: @i-height-small * @i-lineHeight-ratio;
			padding: 0 10px;
			&:active { 
				height: @i-height-small - @i-button-emboss; 
				line-height: @i-height-small - @i-button-emboss;
			}
	
		}
		
		&.m-smaller {
			font-size: @f-size-smaller;
			height: @i-height-smaller;
			line-height: @i-height-smaller * @i-lineHeight-ratio;
			padding: 0 10px;
			&:active { 
				height: @i-height-smaller - @i-button-emboss; 
				line-height: @i-height-smaller - @i-button-emboss;
			}
	
		}
		
		&.m-invert {
			background-color: @color-background-basic;
			color: @color-action;
			border-color: fade(@color-action, 33%);
			&.m-destructive {
				color: @color-alert;
				border-color: fade(@color-alert, 33%);
				
			}
		}
		
		&.m-invert:hover {
			border-color: fade(@color-action, 57%);
			&.m-destructive {
				border-color: fade(@color-alert, 57%);
				
			}
		}
		
		&.m-invert:active {
			border-color: fade(@color-action, 67%);
			outline: none;
			border-bottom-width: 1px;
			margin-top: @i-button-emboss - 1px;
			&.m-destructive {
				border-color: fade(@color-alert, 67%);
				
			}
		}
	
		&.m-selected,
		&.m-selected:hover,
		&.m-selected:active,
		&.m-invert.m-selected,
		&.m-invert.m-selected:hover,
		&.m-invert.m-selected:active {
			color: @color-invertForeground;
			border-color: fade(@color-border, 5%);
			background-color: @color-background-thickSelected;
			border-bottom-width: @i-button-emboss;
			margin-top: 0;
			height: @i-height-normal;
			line-height: @i-height-normal * @i-lineHeight-ratio;
			&.m-huge {
				height: @i-height-huge;
				line-height: @i-height-huge * @i-lineHeight-ratio-huge;
	
				
			}
			&.m-giant {
				height: @i-height-giant;
				line-height: @i-height-giant * @i-lineHeight-ratio-giant;
	
				
			}
		}
		
		&.m-twoLine {
			height: auto !important;
			line-height: 1.2 !important;
			padding-top: 7px;
			padding-bottom: 7px;
			text-align: center;
			.e-subCaption { 
				display: block; 
				font-size: 0.75em;
			}
		}
		
		&:disabled,
		&.m-disabled {
			background-color: @color-disabled-shading;
			color: @color-disabled-text ;
			border-color: fade(@color-border, 5%);
			&:hover {
				color: @color-disabled-text ;
				border-color: fade(@color-border, 5%);
			}
		}
		
		
		&.m-invert:disabled,
		&.m-invert.m-disabled {
			background-color: @color-background-basic;
		}
		
		&.m-withIcon {
			span {
				.c-inline;
				vertical-align: middle;
			}
			.e-icon {
				margin-right: 3px;
			}
			&.m-giant {
				.e-icon {
					font-size: 48px;
					margin-right: 10px;
				}
			}
		}
		
	}
	
}







html body .fmn-root {
	
	
	//
	//
	// FORM
	//
	//
	
	
	.fmn-form {
		&.m-fixNarrow {
			max-width: 400px;
			margin: 0 auto;
		}
	}
	
	
	.fmn-form-error {
		.c-padding-model-side;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: @color-highlight-shading;
		color: @color-alert;
		font-size: @f-size-normal;
		margin-bottom: 10px;
	}
	
		
	.fmn-form-option {
		
		.c-padding-model-side;
		padding-top: 5px;
		padding-bottom: 5px;
		&.m-nopadding {
			padding: 0;
		}
		
		&.m-highlight {
			background-color: @color-background-alert;
			color: @color-alert;
		}
	
		margin-bottom: 5px;
	
		label {
			font-size: @f-size-small;
			display: block;
			margin-bottom: 3px;
		}
		
		// part of label, e.g. for address str. #, ent. fl., apears under main label
		.fmn-form-option-details {
			font-size: @f-size-smaller;
			display: block;
		}
		
		// e.g. for phone format, appears under the field
		.fmn-form-option-help {
			font-size: @f-size-smallest;
			display: block;
			margin-top: 3px;
		}
		
		// larger text, appears under text, used for payment methods for instance
		.fmn-form-option-disclaimer {
			margin-top: 5px;
			font-size: @f-size-normal;
			display: block;
			&.m-highlight {
				background-color: @color-background-alert;
				color: @color-alert;
			}
		}
		
		// e.g. forgotten password, appears under the field
		.fmn-form-option-link {
			margin-top: 5px;
			font-size: @f-size-small;
			display: block;
		}
		
		// the error message per field, appears inside the label, under main label
		.fmn-form-option-error,
		.field-validation-error {
			display: block;
			color: @color-alert;
			font-size: @f-size-smaller;
			margin-bottom: 5px;
		}
		
		.fmn-form-option-text {
			font-size: @f-size-normal;
			.n-large {
				font-size: @f-size-large;
			}
			.n-small {
				font-size: @f-size-small;
			}
		}
	
		&.m-horizontal {
			@media (min-width: 767px) { 
	
			}
			@media (min-width: 768px) {
				label {
					.c-inline;
					vertical-align: middle;
					width: 20%;
				}
				.fmn-form-field {
					.c-inline;
					vertical-align: middle;
					width: 80%;
				}
	
				.fmn-form-option-help {
					.c-inline;
					vertical-align: middle;
					margin-left: 20%;
				}
	
			}
		}
		
		.fmn-form-option-clear {
			.c-inline;
			vertical-align: middle;
			color: @color-alert;
			margin-left: 5px;
			font-size: @f-size-normal;
			span {
				.c-inline;
				vertical-align: middle;
			}
			.e-clear-label {
				margin-right: 5px;
			}
			&:hover {
				color: black;
				background-color: @color-hover-background;
			}
		}
		
		&.m-error {
			padding-top: 10px;
			padding-bottom: 10px;
	
			background-color: @color-highlight-shading;
			background-color: @color-disabled-shading;
			label {
				color: @color-alert;
			}
		}
	
		&.m-individual {
			padding: 0;
			input,
			a:link {
				.c-inline;
			}
			a:link {
				padding: 10px;
				font-size: @f-size-normal;
			}
		}
	
		.i-basic-value {
			label {
				font-size: @f-size-normal;
				padding-left: 2px;
				padding-right: 3px;
				padding-top: 3px;
				padding-bottom: 3px;
			}
			&:hover {
				background-color: @color-hover-background;
			}
		}
		
		&.m-double-space {
			margin-bottom: 20px;
		}
	
	}
	
	.fmn-form-actions {
		.c-padding-model-side;
		margin-top: 10px;
	}
	
	
	.fmn-form-option-columns {
		font-size: 0;
		.fmn-form-option-column {
			.c-inline;
			&.fmn-oneThird {
				width: 33.333%;
			}
			&.fmn-twoThirds {
				width: 66.667%;
			}
			&.fmn-oneHalf {
				width: 50%;
			}
		}
	}
	
	.fmn-form-buttonArray {
		font-size: 0;
		.c-inline;
		vertical-align: middle;
		a.fmn-button,
		button {
			.c-inline;
			vertical-align: middle;
			border-radius: 0;
			&:first-child {
				border-top-left-radius: @i-border-radius;
				border-bottom-left-radius: @i-border-radius;
			}
			&:last-child {
				border-top-right-radius: @i-border-radius;
				border-bottom-right-radius: @i-border-radius;
			}
		}
		&.m-withIcons {
			
		}
		&.m-fullWidth {
			width: 100%;
			a.fmn-button,
			button {
				text-align: center;
			}
			&.m-2 {
				a.fmn-button,
				button {
					width: 50%;
				}
			}
			&.m-3 {
				a.fmn-button,
				button {
					width: 33.333%;
				}
			}
			&.m-4 {
				a.fmn-button,
				button {
					width: 25%;
				}
			}
		}
	}
	
	.fmn-form-radioArray,
	.fmn-form-checkboxArray {
		.e-values-wrap {
			margin-bottom: 10px;	
		}
		.e-value {
			font-size: 0;
			padding: 3px 10px;
			.e-field,
			label {
				.c-inline;
			}
			.e-field {
				width: 25px;
			}
			label {
				width: ~"calc(100% - 25px)";
				width: ~"-webkit-calc(100% - 25px)";
				width: ~"-moz-calc(100% - 25px)";
				width: ~"-ms-calc(100% - 25px)";
				margin-right: 0;
				line-height: 1.4;
			}
			.e-title {
				display: block;
				font-size: @f-size-normal;
				color: @color-titles;
				margin-bottom: 3px;
			}
			.e-text {
				display: block;
				font-size: @f-size-normal;
				color: @color-basic;
			}
			.e-details {
				display: block;
				font-size: @f-size-small;
				color: @color-basic;
			}
			&.m-selected {
				background-color: @color-selected-shading;
			}	
		}
	}
	
	.fmn-form-simpleArray {
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		padding-top: 5px;
		padding-bottom: 5px;
		&:hover {
			border-color: @color-border;
		}
		.i-arrayValue {
			.c-inline;
			width: 100%;
			label {
				.c-inline;
				width: 100%;
				input,
				span {
					.c-inline;
					vertical-align: middle;
					margin-right: 5px;
				}
				.e-value-detail {
					font-size: 0.8em;
					opacity: 0.8;
				}
				font-size: @f-size-normal;
				padding-left: 2px;
				padding-right: 3px;
				padding-top: 3px;
				padding-bottom: 3px;
			}
			&:hover {
				background-color: @color-hover-background;
			}
		}
		
	
		&.m-twoCol {
			font-size: 0;
			.i-arrayValue {
				width: 50%;
				@media (max-width: 479px) {
					width: 100%;
				}
			}
		}
	
	}
	
	.fmn-form-numberBox {
		a, input {
			.c-inline;
			vertical-align: middle;
		}
		input {
			width: 50px;
			text-align: center;
		}
	}
	
	
	
	
	/* CALENDAR */
	
	#datetimepicker12 {
		margin: 0 auto;
		
		
		.bootstrap-datetimepicker-widget {
			th {
				font-size: @f-size-small;
				font-weight: 300;
				&.picker-switch {
					font-size: @f-size-normal;
					font-weight: @f-weight-normal;
					color: @color-action;
				}
			}
			
			td {
				font-size: @f-size-normal;
			    height: 32px;
			    line-height: 32px;
			    width: 32px;
			    color: @color-action;
				span {
					height: 32px;
				    line-height: 32px;
				    width: 32px;
				    color: @color-action;
				}
			}
		
			table {
				td.day {
					height: 30px;
					width: 30px;
					line-height: 30px;
					cursor: pointer;
					&.old,
					&.new {
						color: #ccc;
					}
				}
				thead tr th {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
			
			.timepicker {
				margin-top: 15px;
				.timepicker-picker {
					margin-left: 70px;
					margin-right: 70px;
					.timepicker-hour, 
					.timepicker-minute, 
					.timepicker-second {
						font-size: @f-size-normal;
						font-weight: @f-weight-normal;
					}
				}
			}
		}
	
	}
	
	.bootstrap-datetimepicker-widget table th.prev::after {
	  color: @color-action;
	}
	
	.bootstrap-datetimepicker-widget table th.prev,
	.bootstrap-datetimepicker-widget table th.next {
	  color: @color-action;
	}





}







.template-wrap {
	
	.template-header {
		
		padding: 20px;
		width: 100%;
		
		.template-header-logo {
			width: 200px;
			height: 60px;
			background-size: contain;
			background-repeat: no-repeat;
		}
	
	}
	
	&.oberon {
		padding-top: 100px;
		.template-header {
			background-color: #000;
			position: fixed;
			top: 0;
			.template-header-logo {
				background-image: url(../logos/oberon.png);
			}
		}
	}
	
	&.bravo-pizza {
		.template-header {
			background-color: #fff;
			.template-header-logo {
				background-image: url(../logos/bravo-pizza.jpg);
			}
		}
	}
	

}








