@color-action: rgb(144,26,7);
@f-size-large: 16px;
@f-family-main: 'Roboto Condensed', sans-serif;

.c-inline {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}


.fmn-brand-frame {

	font-size: 0;
	font-family: @f-family-main;

	.fmn-brand-frame-inner {
		background-color: black;		
		padding: 0 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
	}
	
	
	
	
	.fmn-brand-logo {
		.n-logo {
			height: 48px;
			width: 48px;
			circle {
				fill: @color-action;
			}
		}
		.c-inline;
		vertical-align: middle;
		margin-right: 20px;
		@media (max-width: 767px) {
			display: block;
			margin-bottom: 10px;
		}
	}
	
	.fmn-brand-nav {
		.c-inline;
		vertical-align: middle;
		font-size: 0;
		.i-nav-item {
			.c-inline;
			color: white;
			font-size: @f-size-large;
			margin: 0 15px;
			text-decoration: none;
		}
		@media (max-width: 767px) {
			display: block;
			text-align: center;
		}
	
	}
	
	.fmn-languages {
		padding: 0 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0;
		.i-language {
			.c-inline;
			vertical-align: middle;
			margin-left: 10px;
			border-radius: 50%;
			@fmn-language-size: 24px;
			@fmn-language-delta: 2px;
			padding: @fmn-language-delta;
			img {
				opacity: 0.83;
				width: @fmn-language-size - 2*@fmn-language-delta;
			}
			&:hover {
				padding: 0;
				img {
					opacity: 0.93;
					width: @fmn-language-size;
				}
			}
			&.m-selected {
				padding: 0;
				img {
					opacity: 1.0;
					width: @fmn-language-size;
				}
			}
	
			
		}
	}
	
	
	
	
}

