.c-inline {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.translate (@x, @y:0) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}


//
//
// SECTION DEBUG
//
//

#fmn-root div.debug {
	line-height: 1.0;
	text-transform: uppercase;
	font-weight: 400;
	a:link,
	a:visited {
		color: #95e9ef;
		text-decoration: none;
	}
	a:hover {
		color: white;
	}
}

#fmn-root div.debug-section {
	background-color: cyan;
	color: black;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
	.debug-section-note {
		font-size: 0.83em;
	}
}

#fmn-root div.debug-panel {
	position: fixed;
	z-index: 20005;
	background-color: rgba(33,33,33,0.8333);
	color: white;
	font-size: 0;
	a:link,
	a:visited,
	span {
		.c-inline;
		font-size: 9px;
		padding: 4px 6px;
		margin-right: 1px;
		text-transform: uppercase;
	}
	&.debug-panel-top-left {
		top: 0;
		left: 0;		
	}
	&.debug-panel-bottom-right {
		bottom: 0;
		right: 0;
	}
	&.debug-panel-bottom-left {
		bottom: 0;
		left: 0;
	}
}

#fmn-root div.debug-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33,33,33,0.8333);
	color: white;
	display: none;
	z-index: 20003;
	padding: 40px 10px;
	font-size: 0;
	overflow-y: scroll;
	a:link,
	a:visited,
	span {
		background: none;
		display: block;
		float: left;
		clear: left;
		font-size: 12px;
		padding: 5px 10px 5px 0;
		&.secondary {
// 			padding-left: 20px;
		}
		.debug-visible {
			font-size: 0.75em;
			text-transform: uppercase;
			float: none;
			display: none;
			color: yellow;
		}
		&.selected {
			.debug-visible {
				display: inline;
			}
		}
	}
}

#fmn-root div.debug-overlay-col {
	.c-inline;
	width: 160px;
}

#fmn-root div.debug-spacer {
	padding: 50px;
	background-color: rgba(0,0,0,0.05);
}

#fmn-root div.debug-overlay-grid {
	display: none;
	z-index: 20001;
	position: fixed;
	top: 0;
	left: 50%;
	bottom: 0;
	.translate(-50%);
	overflow: visible;
	pointer-events: none;
		
	@media screen {
	
		@media (min-width: 1600px) { width: 1400px; }
		@media (max-width: 1599px) { width: 1200px; }
		@media (max-width: 1279px) { width: 960px; }

		@media (max-width: 1023px) { width: 920px; }
		@media (max-width: 959px) { width: 800px; }
		@media (max-width: 799px) { width: 768px; }
		@media (max-width: 767px) { width: 736px; }
		@media (max-width: 735px) { width: 667px; }
		@media (max-width: 666px) { width: 640px; }
		@media (max-width: 639px) { width: 598px; }
		@media (max-width: 597px) { width: 568px; }
		@media (max-width: 567px) { width: 533px; }

		@media (max-width: 532px) { width: 480px; }
		@media (max-width: 479px) { width: 414px; }
		@media (max-width: 413px) { width: 375px; }
		@media (max-width: 374px) { width: 360px; }
		@media (max-width: 359px) { width: 320px; }

	}
	
	.debug-overlay-grid-line {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 1px;
		height: 100%;
		background-color: rgba(255,0,255,0.33);
		&:nth-child(2) { left: 8.333%; };
		&:nth-child(3) { left: 16.666%; };
		&:nth-child(4) { left: 25%; };
		&:nth-child(5) { left: 33.333%; };
		&:nth-child(6) { left: 41.666%; };
		&:nth-child(7) { left: 50%; };
		&:nth-child(8) { left: 58.333%; };
		&:nth-child(9) { left: 66.666%; };
		&:nth-child(10) { left: 75%; };
		&:nth-child(11) { left: 83.333%; };
		&:nth-child(12) { left: 91.666%; };
		&:nth-child(13) { left: 100%; };
		
		&:nth-child(14) { left: 20%; background-color: rgba(255,0,255,0.13); };
		&:nth-child(15) { left: 40%; background-color: rgba(255,0,255,0.13); };
		&:nth-child(16) { left: 60%; background-color: rgba(255,0,255,0.13); };
		&:nth-child(17) { left: 80%; background-color: rgba(255,0,255,0.13); };
		
	}
	
}

#fmn-root div.debug-forms {
	.debug-forms-wrap {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 5px solid black;
		div {
			margin-bottom: 20px;
		}

	}
}

#fmn-root div.debug-block {
	background-color: pink;
	min-height: 10px;
}