.c-inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.fmn-brand-frame {
  font-size: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.fmn-brand-frame .fmn-brand-frame-inner {
  background-color: black;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.fmn-brand-frame .fmn-brand-logo {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  vertical-align: middle;
  margin-right: 20px;
}
.fmn-brand-frame .fmn-brand-logo .n-logo {
  height: 48px;
  width: 48px;
}
.fmn-brand-frame .fmn-brand-logo .n-logo circle {
  fill: #901a07;
}
@media (max-width: 767px) {
  .fmn-brand-frame .fmn-brand-logo {
    display: block;
    margin-bottom: 10px;
  }
}
.fmn-brand-frame .fmn-brand-nav {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  vertical-align: middle;
  font-size: 0;
}
.fmn-brand-frame .fmn-brand-nav .i-nav-item {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  color: white;
  font-size: 16px;
  margin: 0 15px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .fmn-brand-frame .fmn-brand-nav {
    display: block;
    text-align: center;
  }
}
.fmn-brand-frame .fmn-languages {
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}
.fmn-brand-frame .fmn-languages .i-language {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 50%;
  padding: 2px;
}
.fmn-brand-frame .fmn-languages .i-language img {
  opacity: 0.83;
  width: 20px;
}
.fmn-brand-frame .fmn-languages .i-language:hover {
  padding: 0;
}
.fmn-brand-frame .fmn-languages .i-language:hover img {
  opacity: 0.93;
  width: 24px;
}
.fmn-brand-frame .fmn-languages .i-language.m-selected {
  padding: 0;
}
.fmn-brand-frame .fmn-languages .i-language.m-selected img {
  opacity: 1.0;
  width: 24px;
}
