body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}
h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #2e9dff;
}
.button.w--current {
  background-color: #2e80b6;
}
.button.full-width {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #fe9400;
}
.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}
.button.tab:hover {
  background-color: #2e80b6;
}
.button.tab.w--current {
  background-color: #2e80b6;
}
.navigation-link {
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
  font-size: 14px;
}
.navigation-link:hover {
  color: #fe9400;
}
.navigation-link.w--current {
  color: #676770;
  font-size: 14px;
  font-weight: 400;
}
.navigation-link.w--current:active {
  font-weight: 600;
}
.navigation-link.w--current:focus {
  color: #676770;
  font-weight: 600;
}
.navigation-link.header-button {
  color: #fff;
}
.navigation-bar {
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  color: #676770;
}
.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Changa One', Impact, sans-serif;
  color: #fe9400;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}
.section {
  position: relative;
  margin-top: 0%;
  padding: 50px 10px 80px;
  background-color: #fff;
  color: #fff;
  text-align: center;
}
.section.accent {
  background-color: #fafafa;
}
.section.app {
  background-color: #fafafa;
}
.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}
.white-box.transparent {
  border-style: none;
  background-color: transparent;
}
.main-section {
  padding-top: 242px;
  padding-bottom: 242px;
}
.main-section.centered {
  padding-top: 180px;
  padding-bottom: 180px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  background-image: -webkit-linear-gradient(283deg, rgba(90, 90, 90, 0.51), rgba(77, 77, 77, 0.33), rgba(0, 0, 0, 0.22)), url('../images/burger-2762371_1920.jpg');
  background-image: linear-gradient(167deg, rgba(90, 90, 90, 0.51), rgba(77, 77, 77, 0.33), rgba(0, 0, 0, 0.22)), url('../images/burger-2762371_1920.jpg');
  background-position: 0px 0px, 0px 44%;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
  background-attachment: scroll, scroll;
  color: #fff;
  text-align: center;
}
.hero-heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.hero-subheading {
  margin-bottom: 40px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}
.hollow-button.all-caps {
  border-radius: 10px;
  text-transform: uppercase;
}
.hollow-button.all-caps:hover {
  border-color: #fe9400;
  color: #fe9400;
}
.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}
.section-heading.centered {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.section-heading.centered.white {
  margin-top: 20px;
  padding-bottom: 25px;
  color: #676770;
}
.section-heading.centered.first {
  margin-bottom: -30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.section-heading.centered.contact-section {
  margin-top: 70px;
}
.section-heading.centered.locatons {
  margin-top: 15px;
  padding-bottom: 40px;
}
.section-subheading.center {
  margin-bottom: 20px;
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section-subheading.center.off-white {
  margin-bottom: 50px;
  padding-bottom: 0px;
  color: #8e8e9c;
}
.section-title-group {
  margin-bottom: 60px;
}
.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}
.form-field.text-area {
  height: 110px;
}
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer.center {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 0%;
  padding-top: 15px;
  padding-bottom: 15px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 1px solid #dbdbdb;
  background-color: #12171b;
  text-align: center;
}
.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}
.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}
.info-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}
.footer-link.with-icon {
  margin-left: 30px;
}
.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}
.tabs-wrapper {
  text-align: center;
}
.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}
.white-text {
  margin-bottom: 20px;
  color: #fff;
}
.form {
  margin-top: 40px;
}
.button-2 {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fe9400;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.button-2:hover {
  opacity: 0.7;
  color: #fff;
}
.button-2:active {
  opacity: 1;
  color: #fff;
  font-weight: 400;
}
.button-2:focus {
  color: #fff;
  font-weight: 400;
}
.button-2.w--current {
  color: #fff;
}
.text-block {
  display: block;
  width: 800px;
  margin: 25px auto 29px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #8e8e9c;
  line-height: 30px;
  text-align: justify;
}
.text-block.main {
  padding-top: 0px;
  text-align: center;
}
.container {
  display: block;
}
.column1 {
  position: relative;
  left: -5px;
  top: 0px;
  right: 0px;
  height: 300px;
  margin-top: 5px;
  padding-top: 0px;
  padding-left: 0px;
  background-image: url('../images/salad-2068220_1920.jpg');
  background-position: 50% 50%;
  background-size: 960px;
}
.column1._2 {
  background-position: 100% 0px;
}
.column-5 {
  height: 300px;
  margin-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-image: url('../images/salad-2228890_1920.jpg');
  background-position: 0px 0px;
  background-size: 960px;
}
.column-5._3 {
  background-image: url('../images/burger-2762371_1920.jpg');
  background-position: 50% 50%;
  background-size: 960px;
}
.column-6 {
  left: 5px;
  height: 300px;
  margin-top: 5px;
  padding-left: 0px;
  background-image: url('../images/pizza.jpg');
  background-position: 0px 100%;
  background-size: 1000px;
}
.column-6._4 {
  background-position: 100% 0px;
}
.row {
  margin-top: 0px;
}
.text-block-2 {
  margin-top: 10px;
  color: #676770;
  line-height: 25px;
}
.text-block-3 {
  margin-top: 10px;
  color: #676770;
  line-height: 25px;
}
.text-block-4 {
  margin-top: 10px;
  color: #676770;
  line-height: 25px;
}
.link {
  margin-top: 11px;
  margin-left: 40px;
  padding-bottom: 0px;
  color: #676770;
}
.image-2 {
  margin-bottom: 10px;
  padding-top: 0px;
}
.section-2 {
  padding: 80px 10px;
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}
.section-2.accent {
  position: relative;
}
.column-4 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.image-4 {
  float: right;
}
.image-5 {
  float: none;
}
.facebook-icon {
  margin-top: 0px;
  margin-right: 5px;
  padding-top: 20px;
  padding-bottom: 19px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.facebook-icon:hover {
  opacity: 0.7;
}
.twitter-icon {
  margin-top: 0px;
  margin-left: 5px;
  padding-top: 20px;
  padding-bottom: 19px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.twitter-icon:hover {
  opacity: 0.7;
}
.text-block-5 {
  padding-top: 25px;
  color: #676770;
  font-size: 20px;
  text-align: left;
}
.text-block-5.top {
  padding-top: 0px;
}
.text-block-6 {
  margin-top: 0px;
  padding-top: 20px;
  color: #676770;
  font-weight: 600;
  text-align: left;
}
.image-11 {
  float: left;
  text-align: center;
}
.social-icons {
  margin-left: 0px;
  padding-top: 12px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-icons:hover {
  opacity: 0.7;
}
.social-icons-inside {
  margin-top: 13px;
  margin-left: 15px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-icons-inside:hover {
  opacity: 0.7;
}
.column-7 {
  margin-top: 15px;
  padding-left: 150px;
}
.column-8 {
  margin-top: 15px;
  padding-left: 150px;
}
.section-3 {
  height: 400px;
}
.section-4 {
  height: 300px;
}
.section-5 {
  height: 300px;
}
.about-section {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url('../images/terrace-2710990_1280.jpg');
  background-position: 0px -589px;
  background-size: cover;
  background-repeat: repeat-x;
}
.paragraph {
  color: #8e8e9c;
  font-weight: 300;
}
.paragraph-2 {
  color: #8e8e9c;
}
.paragraph-3 {
  color: #8e8e9c;
}
.app-icons {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.column-9 {
  padding-left: 100px;
}
.dropdown-list {
  color: #fe9400;
}
.dropdown {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-link {
  padding: 20px;
  background-color: #fff;
  color: #676770;
  font-size: 14px;
}
.nav-link:hover {
  color: #fe9400;
}
.nav-link:focus {
  color: #fe9400;
}
.nav-link.w--current {
  padding-right: 20px;
  padding-left: 20px;
  color: #fe9400;
  font-weight: 400;
}
.nav-link.w--current:hover {
  color: #fe9400;
}
.nav-link.w--current:active {
  color: #fe9400;
  font-weight: 700;
}
.nav-link.w--current:focus {
  color: #fe9400;
  font-weight: 700;
}
.nav-link.order-button2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #fe9400;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #fff;
}
.nav-link.order-button2:hover {
  opacity: 0.8;
}
.navbar {
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff;
}
.html-embed {
  margin-top: 20px;
}
.image-12 {
  margin-top: 12px;
  margin-left: 2px;
}
.icon-2 {
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 20px;
}
.text-block-7 {
  padding-right: 5px;
}
.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.section-6 {
  margin-top: 60px;
  background-color: #ececec;
}
.column-10 {
  margin-bottom: 25px;
}
.section-7 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-color: #fff;
  background-color: #23272a;
}
.fotter-link {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
.column-11 {
  height: 100px;
  margin-top: 22px;
}
.unordered-list {
  margin-top: 15px;
  padding-left: 160px;
}
.unordered-list-2 {
  margin-top: 15px;
  padding-left: 160px;
}
.container-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.column-12 {
  margin-top: 0px;
  padding-top: 0px;
}
.important-text {
  font-size: 15px;
  font-weight: 400;
}
.emphasized-text {
  font-weight: 400;
}
.emphasized-text-2 {
  font-weight: 400;
}
.important-text-2 {
  font-size: 15px;
  font-weight: 400;
}
.important-text-3 {
  font-size: 15px;
  font-weight: 400;
}
html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}
html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}
@media (max-width: 991px) {
  .navigation-link {
    color: rgba(255, 255, 255, 0.52);
  }
  .navigation-link:hover {
    color: #fff;
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #fe9400;
  }
  .navigation-menu {
    background-color: #fe9400;
  }
  .main-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
  .button-2 {
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    float: left;
    color: rgba(255, 255, 255, 0.52);
  }
  .button-2:hover {
    opacity: 1;
    color: #fff;
  }
  .button-2.w--current {
    margin-top: 74px;
    margin-left: 40px;
    padding-left: 15px;
  }
  .text-block {
    width: 80%;
  }
  .about-section {
    background-position: 50% 50%;
  }
  .nav-link {
    float: none;
  }
  .nav-link.submenu {
    margin-left: 12px;
    clear: left;
  }
  .nav-link.translator {
    display: inline-block;
    margin-right: 0px;
    margin-left: -129px;
    float: left;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .nav-link.translate {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    float: left;
    clear: left;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link.order-button2 {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0px;
  }
  .nav-menu {
    border-bottom: 3px solid #fe9400;
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .dropdown-list-2 {
    background-color: #998787;
  }
  .dropdown-list-2.w--open {
    margin-top: 0px;
    background-color: #fff;
  }
  .icon {
    color: #676770;
  }
  .icon-2 {
    display: inline-block;
    float: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .unordered-list {
    padding-left: 150px;
  }
  .unordered-list-2 {
    padding-left: 150px;
  }
}
@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .navigation-link.w--current:focus {
    color: #fff;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .main-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }
  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .form-field.text-area {
    display: block;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 30px;
  }
  .button-2 {
    margin-left: 19px;
    padding-left: 20px;
  }
  .button-2.w--current {
    margin-top: 12px;
    margin-left: 19px;
  }
  .column1._2 {
    left: 0px;
    right: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .image-4 {
    float: none;
  }
  .image-5 {
    float: none;
  }
  .image-10 {
    float: left;
  }
  .text-block-5 {
    text-align: center;
  }
  .text-block-5.top {
    margin-top: 40px;
  }
  .text-block-6 {
    text-align: center;
  }
  .social-icons {
    margin-left: 45%;
  }
  .column-7 {
    padding-left: 0px;
    text-align: center;
  }
  .column-8 {
    display: block;
    padding-left: 0px;
  }
  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav-link.translator {
    margin-left: -128px;
  }
  .nav-link.order-button2 {
    margin-right: auto;
    margin-left: auto;
  }
  .html-embed {
    margin-left: 90px;
  }
  .unordered-list {
    padding-left: 0px;
  }
  .unordered-list-2 {
    padding-left: 0px;
  }
  .column-12 {
    display: block;
    padding-left: 70px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .column-13 {
    display: inline-block;
    padding-left: 70px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .main-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 35%;
  }
  .button-2 {
    margin-left: 17px;
  }
  .button-2.w--current {
    margin-left: 20px;
  }
  .column1._2 {
    background-position: 100% 0px;
  }
  .column-6._4 {
    left: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .image-2 {
    margin-top: 10px;
    padding-top: 0px;
  }
  .image-8 {
    -webkit-perspective: 965px;
    perspective: 965px;
  }
  .image-9 {
    margin-top: 50%;
    float: right;
    background-color: rgba(25, 32, 36, 0);
    opacity: 1;
  }
  .image-10 {
    margin-top: 50%;
  }
  .social-icons {
    margin-left: 40%;
  }
  .app-icons {
    margin-top: 10px;
  }
  .nav-link.translator {
    margin-left: -130px;
  }
  .html-embed {
    margin-left: 0px;
  }
  .column-12 {
    padding-left: 15px;
  }
  .column-13 {
    padding-left: 15px;
  }
}
