.c-inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
#fmn-root div.debug {
  line-height: 1.0;
  text-transform: uppercase;
  font-weight: 400;
}
#fmn-root div.debug a:link,
#fmn-root div.debug a:visited {
  color: #95e9ef;
  text-decoration: none;
}
#fmn-root div.debug a:hover {
  color: white;
}
#fmn-root div.debug-section {
  background-color: cyan;
  color: black;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
#fmn-root div.debug-section .debug-section-note {
  font-size: 0.83em;
}
#fmn-root div.debug-panel {
  position: fixed;
  z-index: 20005;
  background-color: rgba(33, 33, 33, 0.8333);
  color: white;
  font-size: 0;
}
#fmn-root div.debug-panel a:link,
#fmn-root div.debug-panel a:visited,
#fmn-root div.debug-panel span {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  font-size: 9px;
  padding: 4px 6px;
  margin-right: 1px;
  text-transform: uppercase;
}
#fmn-root div.debug-panel.debug-panel-top-left {
  top: 0;
  left: 0;
}
#fmn-root div.debug-panel.debug-panel-bottom-right {
  bottom: 0;
  right: 0;
}
#fmn-root div.debug-panel.debug-panel-bottom-left {
  bottom: 0;
  left: 0;
}
#fmn-root div.debug-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.8333);
  color: white;
  display: none;
  z-index: 20003;
  padding: 40px 10px;
  font-size: 0;
  overflow-y: scroll;
}
#fmn-root div.debug-overlay a:link,
#fmn-root div.debug-overlay a:visited,
#fmn-root div.debug-overlay span {
  background: none;
  display: block;
  float: left;
  clear: left;
  font-size: 12px;
  padding: 5px 10px 5px 0;
}
#fmn-root div.debug-overlay a:link .debug-visible,
#fmn-root div.debug-overlay a:visited .debug-visible,
#fmn-root div.debug-overlay span .debug-visible {
  font-size: 0.75em;
  text-transform: uppercase;
  float: none;
  display: none;
  color: yellow;
}
#fmn-root div.debug-overlay a:link.selected .debug-visible,
#fmn-root div.debug-overlay a:visited.selected .debug-visible,
#fmn-root div.debug-overlay span.selected .debug-visible {
  display: inline;
}
#fmn-root div.debug-overlay-col {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 160px;
}
#fmn-root div.debug-spacer {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.05);
}
#fmn-root div.debug-overlay-grid {
  display: none;
  z-index: 20001;
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  overflow: visible;
  pointer-events: none;
}
@media screen and (min-width: 1600px) {
  #fmn-root div.debug-overlay-grid {
    width: 1400px;
  }
}
@media screen and (max-width: 1599px) {
  #fmn-root div.debug-overlay-grid {
    width: 1200px;
  }
}
@media screen and (max-width: 1279px) {
  #fmn-root div.debug-overlay-grid {
    width: 960px;
  }
}
@media screen and (max-width: 1023px) {
  #fmn-root div.debug-overlay-grid {
    width: 920px;
  }
}
@media screen and (max-width: 959px) {
  #fmn-root div.debug-overlay-grid {
    width: 800px;
  }
}
@media screen and (max-width: 799px) {
  #fmn-root div.debug-overlay-grid {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #fmn-root div.debug-overlay-grid {
    width: 736px;
  }
}
@media screen and (max-width: 735px) {
  #fmn-root div.debug-overlay-grid {
    width: 667px;
  }
}
@media screen and (max-width: 666px) {
  #fmn-root div.debug-overlay-grid {
    width: 640px;
  }
}
@media screen and (max-width: 639px) {
  #fmn-root div.debug-overlay-grid {
    width: 598px;
  }
}
@media screen and (max-width: 597px) {
  #fmn-root div.debug-overlay-grid {
    width: 568px;
  }
}
@media screen and (max-width: 567px) {
  #fmn-root div.debug-overlay-grid {
    width: 533px;
  }
}
@media screen and (max-width: 532px) {
  #fmn-root div.debug-overlay-grid {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  #fmn-root div.debug-overlay-grid {
    width: 414px;
  }
}
@media screen and (max-width: 413px) {
  #fmn-root div.debug-overlay-grid {
    width: 375px;
  }
}
@media screen and (max-width: 374px) {
  #fmn-root div.debug-overlay-grid {
    width: 360px;
  }
}
@media screen and (max-width: 359px) {
  #fmn-root div.debug-overlay-grid {
    width: 320px;
  }
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 0, 255, 0.33);
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(2) {
  left: 8.333%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(3) {
  left: 16.666%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(4) {
  left: 25%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(5) {
  left: 33.333%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(6) {
  left: 41.666%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(7) {
  left: 50%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(8) {
  left: 58.333%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(9) {
  left: 66.666%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(10) {
  left: 75%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(11) {
  left: 83.333%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(12) {
  left: 91.666%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(13) {
  left: 100%;
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(14) {
  left: 20%;
  background-color: rgba(255, 0, 255, 0.13);
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(15) {
  left: 40%;
  background-color: rgba(255, 0, 255, 0.13);
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(16) {
  left: 60%;
  background-color: rgba(255, 0, 255, 0.13);
}
#fmn-root div.debug-overlay-grid .debug-overlay-grid-line:nth-child(17) {
  left: 80%;
  background-color: rgba(255, 0, 255, 0.13);
}
#fmn-root div.debug-forms .debug-forms-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}
#fmn-root div.debug-forms .debug-forms-wrap div {
  margin-bottom: 20px;
}
#fmn-root div.debug-block {
  background-color: pink;
  min-height: 10px;
}
