/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
.fm-cms {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
.fm-cms {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
.fm-cms {
  /**
	 * 1. Correct `inline-block` display not defined in IE 8/9.
	 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
	 */
  /**
	 * Prevent modern browsers from displaying `audio` without controls.
	 * Remove excess height in iOS 5 devices.
	 */
  /**
	 * Address `[hidden]` styling not present in IE 8/9/10.
	 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
	 */
  /* Links
	   ========================================================================== */
  /**
	 * Remove the gray background color from active links in IE 10.
	 */
  /**
	 * Improve readability of focused elements when they are also in an
	 * active/hover state.
	 */
  /* Text-level semantics
	   ========================================================================== */
  /**
	 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
	 */
  /**
	 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
	 */
  /**
	 * Address styling not present in Safari and Chrome.
	 */
  /**
	 * Address variable `h1` font-size and margin within `section` and `article`
	 * contexts in Firefox 4+, Safari, and Chrome.
	 */
  /**
	 * Address styling not present in IE 8/9.
	 */
  /**
	 * Address inconsistent and variable font size in all browsers.
	 */
  /**
	 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
	 */
  /* Embedded content
	   ========================================================================== */
  /**
	 * Remove border when inside `a` element in IE 8/9/10.
	 */
  /**
	 * Correct overflow not hidden in IE 9/10/11.
	 */
  /* Grouping content
	   ========================================================================== */
  /**
	 * Address margin not present in IE 8/9 and Safari.
	 */
  /**
	 * Address differences between Firefox and other browsers.
	 */
  /**
	 * Contain overflow in all browsers.
	 */
  /**
	 * Address odd `em`-unit font size rendering in all browsers.
	 */
  /* Forms
	   ========================================================================== */
  /**
	 * Known limitation: by default, Chrome and Safari on OS X allow very limited
	 * styling of `select`, unless a `border` property is set.
	 */
  /**
	 * 1. Correct color not being inherited.
	 *    Known issue: affects color of disabled elements.
	 * 2. Correct font properties not being inherited.
	 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
	 */
  /**
	 * Address `overflow` set to `hidden` in IE 8/9/10/11.
	 */
  /**
	 * Address inconsistent `text-transform` inheritance for `button` and `select`.
	 * All other form control elements do not inherit `text-transform` values.
	 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
	 * Correct `select` style inheritance in Firefox.
	 */
  /**
	 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	 *    and `video` controls.
	 * 2. Correct inability to style clickable `input` types in iOS.
	 * 3. Improve usability and consistency of cursor style between image-type
	 *    `input` and others.
	 * 4. CUSTOM FOR WEBFLOW: Removed the input[type="submit"] selector to reduce
	 *    specificity and defer to the .w-button selector
	 */
  /**
	 * Re-set default cursor for disabled elements.
	 */
  /**
	 * Remove inner padding and border in Firefox 4+.
	 */
  /**
	 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
	 * the UA stylesheet.
	 */
  /**
	 * It's recommended that you don't attempt to style these elements.
	 * Firefox's implementation doesn't respect box-sizing, padding, or width.
	 *
	 * 1. Address box sizing set to `content-box` in IE 8/9/10.
	 * 2. Remove excess padding in IE 8/9/10.
	 */
  /**
	 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
	 * `font-size` values of the `input`, it causes the cursor style of the
	 * decrement button to change from `default` to `text`.
	 */
  /**
	 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
	 * 2. CUSTOM FOR WEBFLOW: box-sizing: content-box rule removed
	 *    (similar to normalize.css >=4.0.0)
	 */
  /**
	 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
	 * Safari (but not Chrome) clips the cancel button when the search input has
	 * padding (and `textfield` appearance).
	 */
  /**
	 * Define consistent border, margin, and padding.
	 */
  /**
	 * 1. Correct `color` not being inherited in IE 8/9/10/11.
	 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
	 */
  /**
	 * Remove default vertical scrollbar in IE 8/9/10/11.
	 */
  /**
	 * Don't inherit the `font-weight` (applied by a rule above).
	 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
	 */
  /* Tables
	   ========================================================================== */
  /**
	 * Remove most spacing between table cells.
	 */
}
.fm-cms article,
.fm-cms aside,
.fm-cms details,
.fm-cms figcaption,
.fm-cms figure,
.fm-cms footer,
.fm-cms header,
.fm-cms hgroup,
.fm-cms main,
.fm-cms menu,
.fm-cms nav,
.fm-cms section,
.fm-cms summary {
  display: block;
}
.fm-cms audio,
.fm-cms canvas,
.fm-cms progress,
.fm-cms video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
.fm-cms audio:not([controls]) {
  display: none;
  height: 0;
}
.fm-cms [hidden],
.fm-cms template {
  display: none;
}
.fm-cms a {
  background-color: transparent;
}
.fm-cms a:active,
.fm-cms a:hover {
  outline: 0;
}
.fm-cms abbr[title] {
  border-bottom: 1px dotted;
}
.fm-cms b,
.fm-cms strong {
  font-weight: bold;
}
.fm-cms dfn {
  font-style: italic;
}
.fm-cms h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.fm-cms mark {
  background: #ff0;
  color: #000;
}
.fm-cms small {
  font-size: 80%;
}
.fm-cms sub,
.fm-cms sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.fm-cms sup {
  top: -0.5em;
}
.fm-cms sub {
  bottom: -0.25em;
}
.fm-cms img {
  border: 0;
}
.fm-cms svg:not(:root) {
  overflow: hidden;
}
.fm-cms figure {
  margin: 1em 40px;
}
.fm-cms hr {
  box-sizing: content-box;
  height: 0;
}
.fm-cms pre {
  overflow: auto;
}
.fm-cms code,
.fm-cms kbd,
.fm-cms pre,
.fm-cms samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.fm-cms button,
.fm-cms input,
.fm-cms optgroup,
.fm-cms select,
.fm-cms textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
.fm-cms button {
  overflow: visible;
}
.fm-cms button,
.fm-cms select {
  text-transform: none;
}
.fm-cms button,
.fm-cms html input[type="button"],
.fm-cms input[type="reset"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
.fm-cms button[disabled],
.fm-cms html input[disabled] {
  cursor: default;
}
.fm-cms button::-moz-focus-inner,
.fm-cms input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.fm-cms input {
  line-height: normal;
}
.fm-cms input[type="checkbox"],
.fm-cms input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
.fm-cms input[type="number"]::-webkit-inner-spin-button,
.fm-cms input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.fm-cms input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}
.fm-cms input[type="search"]::-webkit-search-cancel-button,
.fm-cms input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.fm-cms fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.fm-cms legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
.fm-cms textarea {
  overflow: auto;
}
.fm-cms optgroup {
  font-weight: bold;
}
.fm-cms table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fm-cms td,
.fm-cms th {
  padding: 0;
}
