/*
*/


// texts
@color-text: #555;
@color-text-lighter: fade(@color-text, 65%);

// titles
@color-titles: #000;

// links and buttons
@color-action: rgb(144,26,7);
@color-destructiveAction: red;
@color-action-hover: #000;
@color-action-active: #000;

// special prices
@color-highlight-text: #de001b;

// selected state of buttons, array options
// basket count circle background
@color-selected-block: white;
@color-selected-block-background: #dbb14f;

// main font
// this requires the font to be loaded on the page
@f-family-main: 'Rubik', sans-serif;

// normal font weight
@f-weight-normal: 400;

// font sizes
@f-size-tiny: 8px;
@f-size-smallest: 9px;
@f-size-smaller: 11px;
@f-size-small: 12px;
@f-size-normal: 14px;
@f-size-large: 15px;
@f-size-larger: 16px;
@f-size-largest: 18px;
@f-size-huge: 22px;
@f-size-giant: 24px;

// font line height
@f-line-height: 1.4;

// buttons and inputs border radius
@i-border-radius: 5px;

// the main background color, should always be white for now. Need to discuss if we decide to allow different
@color-mainBackground: white;

//input background
@color-inputBackground: #fafafa;

// common border color
@color-border: rgba(0,0,0,0.11);

// shading for hover, active and selected elements + basket rows
@color-hover-shading: fade(black, 3%);
@color-active-shading: fade(black, 5%);
@color-selected-shading: fade(#dbb14f, 11%);
@color-adjustedQuantity-shading: rgba(255,0,0,0.05);
@color-justAdded-shading: fade(#18a40a, 5%);

// disabled elements
@color-disabled-text: fade(@color-text, 50%);
@color-disabled-shading: fade(@color-text, 11%);
@color-disabled-background: fade(@color-text, 25%);

// messages
@color-message: #333;
@color-message-background: #fbf7d7;

// success
@color-success: green;
@color-success-background: fade(green, 17%);

// error
@color-error: #dd0000;
@color-error-background: #fbf7d7;

// alerts
@color-alert: #dd0000;
@color-alert-background: #fbf7d7;

// labels
@color-label-justAdded: white;
@color-label-justAdded-background: #18a40a;
@color-label-outOfStock: white;
@color-label-outOfStock-background: #bbb;
@color-label-private: white;
@color-label-private-background: silver;
@color-label-inBasket: white;
@color-label-inBasket-background: #00c91d;
@color-label-timer: white;
@color-label-timer-background: orange;
@color-label-payOnline: white;
@color-label-payOnline-background: #008039;
@color-label-adjustedQuantity: white;
@color-label-adjustedQuantity-background: #de001b;
@color-label-noLongerAvailable: white;
@color-label-noLongerAvailable-background: #bbb;
@color-label-requiresAdvancePayment: white;
@color-label-requiresAdvancePayment-background: #bbb;
















/*



// texts
@color-text: #dedede;
@color-text-lighter: darken(@color-text, 30%);

// titles
@color-titles: #fff;

// links and buttons
@color-action: #ae9a64;
@color-destructiveAction: #ff546e;
@color-action-hover: #fff;
@color-action-active: #fff;

// special prices
@color-highlight-text: #48def9;

// selected state of buttons, array options
@color-selected-block: white;
@color-selected-block-background: #ae9a64;

// main font
// this requires the font to be loaded on the page
@f-family-main: 'Georgia', sans-serif;

// normal font weight
@f-weight-normal: 400;

// font sizes
@f-size-tiny: 8px;
@f-size-smallest: 9px;
@f-size-smaller: 11px;
@f-size-small: 12px;
@f-size-normal: 15px;
@f-size-large: 16px;
@f-size-larger: 17px;
@f-size-largest: 18px;
@f-size-huge: 22px;
@f-size-giant: 24px;

// font line height
@f-line-height: 1.4;

// buttons and inputs border radius
@i-border-radius: 5px;

// the main background color, should always be white for now. Need to discuss if we decide to allow different
@color-mainBackground: rgb(50, 50, 50);

//input background
@color-inputBackground: rgb(60, 60, 60);

// common border color
@color-border: rgba(255,255,255,0.17);

// shading for hover, active and selected elements + basket rows
@color-hover-shading: fade(white, 3%);
@color-active-shading: fade(white, 5%);
@color-selected-shading: fade(#dbb14f, 11%);
@color-adjustedQuantity-shading: fade(#48def9, 7%);
@color-justAdded-shading: fade(#0aa46b, 7%);

// disabled elements
@color-disabled-text: fade(@color-text, 50%);
@color-disabled-shading: fade(@color-text, 11%);
@color-disabled-background: fade(@color-text, 25%);

// messages
@color-message: #fff;
@color-message-background: fade(#fbefa3, 7%);

// success
@color-success: #08c781;
@color-success-background: fade(#0aa46b, 7%);

// error
@color-error: #ff546e;
@color-error-background: fade(#ff546e, 7%);

// alerts
@color-alert: #ff546e;
@color-alert-background: fade(#ff546e, 7%);

// labels
@color-label-justAdded: white;
@color-label-justAdded-background: #0aa46b;
@color-label-outOfStock: white;
@color-label-outOfStock-background: #bbb;
@color-label-private: white;
@color-label-private-background: silver;
@color-label-inBasket: white;
@color-label-inBasket-background: #0aa46b;
@color-label-timer: white;
@color-label-timer-background: orange;
@color-label-payOnline: white;
@color-label-payOnline-background: #008039;
@color-label-adjustedQuantity: white;
@color-label-adjustedQuantity-background: #48def9;
@color-label-noLongerAvailable: white;
@color-label-noLongerAvailable-background: #bbb;
@color-label-requiresAdvancePayment: white;
@color-label-requiresAdvancePayment-background: #bbb;
*/