/* line 7, ../sass/lightbox.sass */
/*
body:after {
  content: url(../images/slideshow-close.png) url(../img/loading.gif) url(../images/slideshow-prev.png) url(../images/slideshow-next.png);
  display: none;
}
*/

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.87);
/*   background-color: #ffffff; */
/*   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); */
/*   opacity: 0.9; */
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  top: 40px !important;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
/*fixing size to be smaller*/ max-height: 90vh !important;
/*fixing size to be smaller*/ max-width: 90vw !important;
/*fixing size to be smaller*/ height: auto !important;
/*fixing size to be smaller*/ width: auto !important;

}

body.facebook .lightbox .lb-image {
}


/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;

}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 0px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  background: url(../images/slideshow-prev.png) left 48% no-repeat;
  left: 0;
  left: -70px;
  float: left;
  position: absolute;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/slideshow-prev.png) left 48% no-repeat;
  opacity: 1.0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  background: url(../images/slideshow-next.png) right 48% no-repeat;
  right: 0;
  right: -70px;
  float: right;
  position: absolute;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/slideshow-next.png) right 48% no-repeat;
  opacity: 1.0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;

}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
  display: none;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
/*   background: url(../images/slideshow-close.png) top right no-repeat; */
  text-align: right;
  outline: none;
/*   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); */
/*   opacity: 0.5; */
}

.lb-close {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 32px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255,255,255,0.67);
}

.lb-close:before {
    content: "\e91c";
}

/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
/*
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
*/
    color: rgba(255,255,255,0.87);
}


.lb-data .lb-close:active {
  cursor: pointer;
    color: rgba(255,255,255,1.00);
}
