@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?x9zch2');
    src:    url('icomoon.eot?x9zch2#iefix') format('embedded-opentype'),
        url('icomoon.ttf?x9zch2') format('truetype'),
        url('icomoon.woff?x9zch2') format('woff'),
        url('icomoon.svg?x9zch2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#fmn-root [class^="fmn-icon-"], 
#fmn-root [class*=" fmn-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 32px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

.fmn-icon-add-to-basket:before {
  content: "\e903";
}
.fmn-icon-address-book:before {
  content: "\e904";
}
.fmn-icon-arrow-down:before {
  content: "\e905";
}
.fmn-icon-arrow-left:before {
  content: "\e906";
}
.fmn-icon-arrow-right:before {
  content: "\e907";
}
.fmn-icon-arrow-up:before {
  content: "\e908";
}
.fmn-icon-basket:before {
  content: "\e909";
}
.fmn-icon-calendar-check:before {
  content: "\e90a";
}
.fmn-icon-card-payment:before {
  content: "\e919";
}
.fmn-icon-clock-1:before {
  content: "\e91a";
}
.fmn-icon-clock-2:before {
  content: "\e91b";
}
.fmn-icon-delete:before {
  content: "\e91c";
}
.fmn-icon-delivery:before {
  content: "\e91d";
}
.fmn-icon-details:before {
  content: "\e91e";
}
.fmn-icon-envelope:before {
  content: "\e91f";
}
.fmn-icon-exit:before {
  content: "\e920";
}
.fmn-icon-facebook:before {
  content: "\e921";
}
.fmn-icon-forbidden:before {
  content: "\e922";
}
.fmn-icon-google:before {
  content: "\e923";
}
.fmn-icon-in-basket:before {
  content: "\e924";
}
.fmn-icon-keys:before {
  content: "\e925";
}
.fmn-icon-linked-in:before {
  content: "\e926";
}
.fmn-icon-location:before {
  content: "\e927";
}
.fmn-icon-lock:before {
  content: "\e928";
}
.fmn-icon-login:before {
  content: "\e929";
}
.fmn-icon-menu:before {
  content: "\e92a";
}
.fmn-icon-minus:before {
  content: "\e92b";
}
.fmn-icon-office:before {
  content: "\e92c";
}
.fmn-icon-one-time:before {
  content: "\e92d";
}
.fmn-icon-online-payment:before {
  content: "\e92e";
}
.fmn-icon-password:before {
  content: "\e92f";
}
.fmn-icon-phone:before {
  content: "\e930";
}
.fmn-icon-plus:before {
  content: "\e931";
}
.fmn-icon-pre-order:before {
  content: "\e932";
}
.fmn-icon-profile:before {
  content: "\e93a";
}
.fmn-icon-repeat:before {
  content: "\e939";
}
.fmn-icon-search:before {
  content: "\e938";
}
.fmn-icon-sign-up:before {
  content: "\e937";
}
.fmn-icon-store:before {
  content: "\e936";
}
.fmn-icon-take-away:before {
  content: "\e935";
}
.fmn-icon-timer:before {
  content: "\e934";
}
.fmn-icon-wallet:before {
  content: "\e933";
}

